<p-toast></p-toast>

<div class="upload-container">
    <div class="dropzone">
        <input type="file" #fileDropRef id="fileDropRef" multiple 
            (change)="onFileSelected($event)"
            accept=".pdf, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .txt, .jpg, .jpeg, .png, .giff, .bmp, .svg">
        <span>Drag files or click to upload</span>
    </div>
</div>
<!-- End of upload container -->
<div id="progress-bar-div">
    <p-progressBar [hidden]="!showUploadProgressBar" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
</div>