.wrapper{
    display: flex;
    flex-direction: column;
}

.user-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userProfilePicture img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.flName{
    margin-top: 10px;
}

.flName .title{
    font-weight: 500;
    font-size: 22px;
}

/* USER INFO */
.userInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

@media screen and (max-width: 450px) {
    .userInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userInfo .contact,
    .userInfo .mail{
        margin-top: 20px;
    }
}

@media screen and (max-width: 1265px) {
    .userInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .userInfo .contact,
    .userInfo .mail{
        margin-top: 20px;
    }
}

@media screen and (max-width: 1500px) {
    .userInfo .address i,
    .userInfo .contact i,
    .userInfo .mail i{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* User projects */

.userProject{
    margin-top: 20px;
}

.userProject .title{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 14px;
}

.userProject ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 14px;
    background-color: #d8dde6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 500;
    color: #666565;
    cursor: pointer;
}

.userProject ul li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 18px;
    font-size: 16px;
}

.userProject ul li:hover{
    background-color: rgba(109, 111, 118, 0.4);
    border-radius: 13px 13px 13px 13px;
}

.userProject ul li .button-wrapper button{
    font-size: 15px;
    padding: 3px 15px;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    .content-section ul li{
        display: flex;
        flex-direction: column;
    }
}