<app-spinner></app-spinner>
<div id="contentPages">
    
    <!-- Sidenav -->
    <div id="sideNavBar">
        <app-admin-sidebar></app-admin-sidebar>
    </div>
    <!-- End of Sidenav -->

    <!-- Content -->
    <div id="content">
        
        <p-toast></p-toast>
        <p-confirmDialog></p-confirmDialog>

        <!-- Header strane -->
        <div id="description">
            <h2 style="display: inline-block;">Create and Manage Roles</h2>
            <div class="role-create" style="float: right;">
                <app-create-role></app-create-role>
            </div>
        </div>
        <!-- End of Header strane -->

        <!-- Div za tabelu sa ulogama -->
        <div id="roles">

            <!-- Tabela -->
            <p-table
                #dt1
                [value]="roles"
                dataKey="name"
                [loading]="loading"
                [globalFilterFields]="['name']"
                [paginator]="true"
                [rows]="5"
                [first]="first"
                [rowsPerPageOptions]="[5, 10, 25, 50]"
                [showCurrentPageReport]="true"
                (onPage)="pageChange($event)"
                currentPageReportTemplate="Showing {first} to {last} of {{roles.length}} entries"
                [tableStyle]="{'width': '100%'}"
                responsiveLayout="stack" [breakpoint]="'960px'"
                styleClass="p-datatable-striped">
                
                <!-- Table caption -->
                <ng-template pTemplate="caption" class="align-content-center justify-content-around">
                    <div id="header-content" class="flex">
                        
                        <!-- Export options -->
                        <div class="exportFileOptions">
                            <!-- Export to CSV -->
                            <button type="button" pButton pRipple icon="pi pi-file-excel" 
                                (click)="exportExcel()"  class="p-button-success mr-2" pTooltip="XLS" 
                                tooltipPosition="bottom" title="Export as Excel"></button>
                            
                            <!-- Export to PDF -->
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                                class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom" 
                                title="Export as PDF"></button>
                        </div>
                        <!-- End of export options -->

                        <div class="filterTableOptions">
                            <!-- <button
                                pButton label="Clear"
                                class="p-button-outlined"
                                icon="pi pi-filter-slash" (click)="clear(dt1)">
                            </button> -->
                        
                            <div class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <!-- <input pInputText id="search-input-term-roles-global"  #searchInput type="text" (input)="search(dt1)" placeholder="Search keyword"/> -->
                                <input id="search-role" pInputText [(ngModel)]="searchTerm" (input)="search()" placeholder="Search keyword"/>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <!-- End of table caption -->

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">
                            Name
                            <p-sortIcon field="name"></p-sortIcon>
                            <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                        </th>
                        <th>Actions</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-role>
                    <tr>
                        <td>
                            <span class="p-column-title" style="font-weight: bold;">Name</span>
                            <span>
                                {{ role.name }}
                                <i class="pi pi-question-circle" style="color: black"
                                    title="{{getTooltipForRole(role)}}">
                                </i>
                            </span>
                        </td>
                        <td><span class="p-column-title" style="font-weight: bold">Actions</span>
                            <div class="flexdiv-custom">
                                <div class="action">
                                    <!-- <span (click)="deleteCompanyRole(role)" class="pi pi-trash" title="Delete role"></span> -->

                                    <div class="deleteBtn">
                                        <button type="button" pButton pRipple icon="pi pi-trash" 
                                            (click)="deleteCompanyRole(role, $event)"
                                            class="p-button-danger mr-2" 
                                            tooltipPosition="bottom"></button>
                                    </div>
                                </div>

                                <div class="action">
                                    <div class="editRole">
                                        <button type="button" class="pi pi-pencil" data-bs-toggle="modal"
                                            data-bs-target="#modalEditInfo" data-whatever="@role"
                                            id="buttonRole_{{role.name}}"
                                            (click)="showModalForRole(role)"
                                            title="Edit role">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <!-- NEKE IKONICE :) -->
                <!-- <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template> -->

            </p-table>
            <!-- End of tabela -->
        </div>
        <!-- End of div za tabelu sa ulogama -->
    </div>
    <!-- End of content -->

</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modalEditInfo" tabindex="-1" aria-labelledby="modalEditInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Form Header -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit company role</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- End of Form Header -->

            <div class="modal-body">
                <!-- Form -->
                <form #createRoleForm="ngForm" id="createRoleForm" class="row g-3" 
                    autocomplete="off" style="margin-bottom: 10%;">

                    <div class="rolename">
                        <div> <!-- field za ime role -->
                            <div class="form-floating mb-3">
                                <input 
                                    type="text"
                                    id="roleNameId"
                                    name="roleName"
                                    class="roleName form-control required-field"
                                    [(ngModel)]="editRole.name"
                                    required
                                    spellcheck="false"
                                >
                                <label for="roleNameId" form-label>Role name</label>
                            </div>
                        </div>
                    </div>

                    <div class="permissions">
                        <div class="permission-card">
                            <div class="permission-switch">
                                <p-inputSwitch
                                    id="canManageProjects"
                                    class="canManageProjects"
                                    name="canManageProjects"
                                    [(ngModel)]="editRole.canManageProjects"
                                ></p-inputSwitch>
                                <div>Can manage projects</div>
                            </div>
                            <div class="permission-description">*Able to create project, add users to it, change settings, etc.</div>
                        </div>
                        
                        <hr>

                        <div class="permission-card">
                            <div class="permission-switch">
                                <p-inputSwitch
                                    id="canManageTasks"
                                    class="canManageTasks"
                                    name="canManageTasks"
                                    [(ngModel)]="editRole.canManageTasks"
                                ></p-inputSwitch>
                                <div>Can manage tasks</div>
                            </div>
                            <div class="permission-description">*Able to create task, assign it to users, change it, etc.</div>
                        </div>
                        
                        <hr>
                        
                        <div class="permission-card">
                            <div class="permission-switch">
                                <p-inputSwitch
                                    id="canUpdateTaskProgress"
                                    class="canUpdateTaskProgress"
                                    name="canUpdateTaskProgress"
                                    [(ngModel)]="editRole.canUpdateTaskProgress"
                                ></p-inputSwitch>
                                <div>Can update task progress</div>
                            </div>
                            <div class="permission-description">*Able to update task progress</div>
                        </div>
                        
                        <hr>
                        
                        <div class="permission-card">
                            <div class="permission-switch">
                                <p-inputSwitch
                                    id="canLeaveComments"
                                    class="canLeaveComments"
                                    name="canLeaveComments"
                                    [(ngModel)]="editRole.canLeaveComments"
                                ></p-inputSwitch>
                                <div>Can leave comments</div>
                            </div>
                            <div class="permission-description">*Able to leave comments on tasks</div>
                        </div>
                        
                        <hr>

                        <div class="permission-card">
                            <div class="permission-switch">
                                <p-inputSwitch
                                    id="canUploadFiles"
                                    class="canUploadFiles"
                                    name="canUploadFiles"
                                    [(ngModel)]="editRole.canUploadFiles"
                                ></p-inputSwitch>
                                <div>Can upload files</div>
                            </div>
                            <div class="permission-description">*Able to upload files to project</div>
                        </div>
                    </div>

                </form>
                <!-- End of Form -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="formRegisterUser" class="btn btn-primary" data-bs-dismiss="modal" (click)="applyEditChanges()">Apply changes</button>
            </div>

        </div>
    </div>
</div>
<!-- End of modal -->