<app-nav-bar></app-nav-bar>
<div class="content">
    <div class="title-content">
        <h1 class="faq-title">
            {{'faq-page.title' | translate}}
        </h1>
    </div>
    <h3>
        {{'faq-page.subtitle' | translate}}
    </h3>
    <p-divider />
    <div class="questions">
        <p-accordion [activeIndex]="0">
            <p-accordionTab [header]="'faq-page.how-to-create-project' | translate">
                <p>
                    {{'faq-page.hdicp1' | translate}} <span class="bold"> {{'faq-page.hdicp2' | translate}} </span> {{'faq-page.hdicp3' | translate}}
                </p>
                <p>
                    {{'faq-page.hdicp4' | translate}} <span class="bold"> {{'faq-page.hdicp5' | translate}} </span> {{'faq-page.hdicp6' | translate}}
                </p>
                <div class="project-create-info" id="project-create">
                    <div class="required">
                        <h6> {{'faq-page.hdicp7' | translate}} </h6>
                        <ul>
                            <li> {{'faq-page.hdicp9' | translate}} </li>
                            <li> {{'faq-page.hdicp10' | translate}} </li>
                            <li> {{'faq-page.hdicp11' | translate}} </li>
                            <li> {{'faq-page.hdicp12' | translate}} </li>
                            <li> {{'faq-page.hdicp13' | translate}} </li>
                        </ul>
                    </div>
                    <div class="optional">
                        <h6>{{'faq-page.hdicp8' | translate}}</h6>
                        <ul>
                            <li> {{'faq-page.hdicp14' | translate}} </li>
                            <li> {{'faq-page.hdicp15' | translate}} </li>
                        </ul>
                    </div>
                </div>
                <p> {{'faq-page.hdicp16' | translate}} <span class="bold">{{'faq-page.hdicp17' | translate}}</span> {{'faq-page.hdicp18' | translate}}</p>
            </p-accordionTab>
            <p-accordionTab header="How to create a task">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                </p>
            </p-accordionTab>
            <p-accordionTab header="How to calculate project progress">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab>
            <p-accordionTab header="How to add a user to project">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab>
            <p-accordionTab header="How to calculate the time progress of a project">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos...
                </p>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>