<app-nav-bar></app-nav-bar>
<div class="content">
    <div class="title-content">
        <h1 class="faq-title">Frequently Asked Questions</h1><i class="fa-solid fa-link"></i>
    </div>
    <h3>Here some common questions that may pop up as you use ProjSync: </h3>
    <p-divider />
    <div class="questions">
        <h4>How to create a project</h4>
        <p>Creating a project is the first step to getting work done in ProjSync! If you're a project-manager, you have the ability to add new projects.
             To create a project, click the 'Create Project' button on the application's home page. A pop-up menu will open where we enter the project information. 
             Then it's time to provide some basic project details! Here's what every new project needs:
        </p>
        <div class="project-create-info">
            <div class="required">
                <h6>Mandatory</h6>
                <ul>
                    <li>Project name</li>
                    <li>Project key</li>
                    <li>Project type</li>
                    <li>Start date</li>
                    <li>Due date</li>
                </ul>
            </div>
            <div class="optional">
                <h6>Optional</h6>
                <ul>
                    <li>Project description</li>
                    <li>Project budget</li>
                </ul>
            </div>
        </div>
        <p>When you're done, click the 'Create' button to add your new project.</p>
    </div>
</div>