<div class="d-flex align-items-center mt-6">
  <form class="w-40 mr-4">
    <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      type="text" pInputText
      [formControl]="searchControl"/>
    </span>
  </form>

  <div class="d-flex flex-row mr-3">
    <p-avatarGroup>
      <ng-container *ngIf="(projectQuery.users$ | async) as users">
        <div *ngFor="let user of users.slice(0, MAX_NUMBER_OF_USERS_TO_SHOW); let i = index"
             class="lift-avatar cursor-pointer ml-1 flex rounded-circle transition-transform duration-100"
             [class.is-active]="isUserSelected(user)"
             [ngStyle]="{ 'z-index': i === MAX_NUMBER_OF_USERS_TO_SHOW ? 1 : 0, 'margin-left.px': i !== 0 ? -20 : 0, 'position': 'relative' }"
             [pTooltip]="user.name">
          <p-avatar class="d-flex select-none shadow-outline-white"
                    [image]="UserImagePath(user?.username)"
                    shape="circle"
                    size="large"
                    [pTooltip]="user?.name"
                    (click)="userChanged(user)">
          </p-avatar>
        </div>
    
        <ng-container *ngIf="users.length > MAX_NUMBER_OF_USERS_TO_SHOW">
          <div class="lift-avatar cursor-pointer ml-1 flex rounded-circle transition-transform duration-100"
               [pTooltip]="getGroupTooltip(users.slice(MAX_NUMBER_OF_USERS_TO_SHOW))">
            <p-avatar class="d-flex select-none shadow-outline-white bg-primary text-white remaining-avatar"
                      shape="circle"
                      size="large"
                      [ngStyle]="{ 'z-index': 1, 'margin-left.px': -20, 'position': 'relative' }"
                      [pTooltip]="getGroupTooltip(users.slice(MAX_NUMBER_OF_USERS_TO_SHOW))"
                      (click)="groupClicked(users.slice(MAX_NUMBER_OF_USERS_TO_SHOW))">
              +{{ users.length - MAX_NUMBER_OF_USERS_TO_SHOW }}
            </p-avatar>
          </div>
        </ng-container>
      </ng-container>
    </p-avatarGroup>    
  </div>

  <p-button
    class="ml-3 btn-empty"
    label="Only My Issues"
    [text]="true"
    (click)="onlyMyIssueChanged()">
  </p-button>

  <p-button
    class="ml-3 btn-empty"
    label="Ignore Resolved"
    [text]="true"
    (click)="ignoreResolvedChanged()">
  </p-button>

  <div class="ml-3 d-flex align-items-center"
       *ngIf="filterQuery.any$ | async">
    <div class="mr-3 border-right bg-secondary" style="width: 1px;"></div>
    <p-button
      class="btn-secondary"
      label="Clear all"
      [text]="true"
      (click)="resetAll()">
    </p-button>
  </div>

</div>

