.lift-avatar.is-active {
  box-shadow: 0 0 0 4px #1255b9;
  z-index: 1;
}

.subgroup-active {
  box-shadow: 0 0 0 4px #1255b9;
  z-index: 1;
}

.remaining-avatar {
  background-color: transparent !important;
  cursor: default;
}

.lift-avatar:hover {
  transform: translateY(-5px);
}

:host ::ng-deep .p-avatar {
  background-color: #1255b9;
}

.custom-cursor-pointer {
  cursor: default;
}

.kanban-search{
  margin-right: 12px;
}

.kanban-user-filter{
  margin-right: 8px;
}