<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<div id="pageWraper">
    <app-nav-bar></app-nav-bar>
    <div id="contentPages">
        <app-project-sidebar [projectName]="projectName"></app-project-sidebar>

        <div class="content">
            <div id="left-side" class="container col-6">
                <span class="project-settings-title">Project Settings</span>

                <span class="titleUpload">Project icon:</span>
                <div class="container upload">
                    <div class="icon-image">
                        <img *ngIf="1==1" src="../../../../../assets/images/DefaultAccountProfileImages/default_account_image_1.png" alt="project-default-image">
                    </div>
                    <div class="upoloadBtn">
                        <button pButton pRipple label="Upload icon" class="buttonUpload"></button>
                    </div>
                </div>

                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-group">
                    <span class="title">Name</span>
                    <input type="text" pInputText formControlName="name" class="projectName" placeholder="Project name" [(ngModel)]="projectName2"/>

                    <span class="title">Category</span>
                    <p-dropdown [options]="projectTypes" formControlName="category" optionLabel="name" placeholder="Select a Category" class="dropdownCateg" [showClear]="true" [(ngModel)]="projectType2"></p-dropdown>

                    <span class="title">Description</span>
                    <!-- <textarea rows="2" pInputTextarea></textarea> -->
                    <quill-editor class="content-editor"
                        [(ngModel)]="projectDescription2"
                        formControlName="description"
                        [placeholder]="'Enter description'"
                        >
                    </quill-editor>

                    <div class="btns">
                        <button type="submit" pButton pRipple label="Submit" class="p-button-primary" [disabled]="!projectName2"></button>
                        <p-button label="Close" severity="secondary"></p-button>
                    </div>
                </form>
            </div>
            <div id="right-side" class="container">
                <div class="wrapper">
                    <div class="info">
                        <span class="title">Transfer owenership</span>
                        <p>Transfer this project to another user.</p>
                    </div>
                    <div class="btn-wrap">
                        <button pButton pRipple label="Transfer" class="button-setting"></button>
                    </div>
                </div>

                <div class="wrapper">
                    <div class="info">
                        <span class="title">Deactivate project</span>
                        <p>Deactivate your project.</p>
                    </div>
                    <div class="btn-wrap">
                        <button pButton pDanger (click)="openPopUp($event)" label="Deactivate" class="button-setting del p-button-danger"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>