<div id="pageWraper">
    <app-nav-bar></app-nav-bar>
    <div id="contentPages">
        <app-project-sidebar [projectName]="projectName"></app-project-sidebar>
        <!-- <div id="content">
            <p-toast></p-toast>
            <h2>General</h2>
            <div class="container" style="border: 1px solid black;border-radius: 10px;padding-bottom: 2%;">
                <label>Project name:</label>
                <div class="col-6">
                <div class="input-group">
                    <input 
                        type="text"
                        id="name"
                        name="name"
                        class="form-control"
                        placeholder="Name"
                        [(ngModel)]="project.name"
                        required
                        autocomplete="off"
                        >
                    <button type="button" class="btn btn-primary" (click)="update()" [disabled]="project.name==projectName" >Rename</button>
                </div>
                </div>
                <label>Project icon:</label>
                <div class="container" id="projectIconUpdate">
                    <div>
                        <img *ngIf="1==1" src="../../../../../assets/images/DefaultAccountProfileImages/default_account_image_1.png" alt="project-default-image">
                    </div>
                    <div class="container">
                        <button type="button" class="btn btn-primary" ><i class="pi pi-upload"></i> Upload new</button>
                    </div>
                </div>
            </div>
        </div> -->
        <div id="left-side" class="container">
            <span class="project-settings-title">Project Settings</span>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-group">
                <span class="title">Name</span>
                <!-- <input type="text" formControlName="name"> -->
                <input type="text" pInputText formControlName="name" class="projectName" placeholder="Project name" [(ngModel)]="projectName2"/>
                <span class="title">Category</span>
                <p-dropdown [options]="projectTypes" formControlName="category" optionLabel="name" placeholder="Select a Category" class="dropdownCateg" [showClear]="true" [(ngModel)]="projectType2"></p-dropdown>
                <span class="title">Description</span>
                <textarea rows="2" pInputTextarea formControlName="description" placeholder="Project description" [value]="project.description"></textarea>
                <div class="btns">
                    <button type="submit" pButton pRipple label="Submit" class="p-button-primary" [disabled]="!projectName2"></button>
                    <p-button label="Close" severity="secondary"></p-button>
                </div>
            </form>
        </div>
        <div class="container">
            
        </div>
    </div>
</div>