<!-- Mihajlo SIDE BAR -->

<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : '' ">
    <!-- Header od sidenav -->
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"><i class="fa-solid fa-bars"></i></button>
        <div class="logo-text" *ngIf="collapsed">Admin</div>
        <button class="button-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <!-- Linkovi -->
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            >
                <i [class]="data.icon" class="sidenav-link-icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ data.label }}</span>
            </a>
        </li>
    </ul>
</div>