:host {
  display: flex;
  flex: 1;
}

.issue-wrap {
  touch-action: manipulation;
  cursor: grab;
  margin-bottom: 5px;
  margin-left: 5px;
  width: 100%;
}

.issue {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: .125rem;
  background-color: #fff;
  transition-property: all;
  transition-duration: .1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 2px 0px;
}

.issue:hover {
  background-color: lightblue;
  cursor: pointer;
}

.issue p {
  margin: 0px;
  padding: 0px;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.type-Task {
  background-color: #8fb1e7;
}

.type-Bug {

  background-color: rgb(230, 59, 59);
}

.type-Story {
  
  background-color: rgb(125, 225, 125);
}

#span-type {
  padding: 3px;
  border-radius: 5px;
}