<div class="mt-6 mb-1 text-uppercase text-muted font-weight-bold">
  Status
</div>

<p-button
  [text]="true"
  [raised]="true"
  severity="{{ variants[issue.status] }}"
  label="{{ IssueStatusDisplayMap[issue.status] }}"
  (click)="op.toggle($event)">
</p-button>

<p-overlayPanel #op>
  <ng-template pTemplate="content">
    <ng-container *ngFor="let option of issueStatuses">
      <div class="select-item"
           *ngIf="!isStatusSelected(option.value)"
           (click)="updateIssue(option.value, op)">
        <div class="flex items-center">
          <span class="ml-3 font-semibold uppercase text-textMedium text-13">{{ option.label }}</span>
        </div>
      </div>
    </ng-container>
  </ng-template>
</p-overlayPanel>
