.welcome{
    display: block;
    text-align: center;
    margin-bottom: 15%;
}


#rr{
    font-size: 30px;
}
.password{
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.icon{
    cursor: pointer;
    height: 16px;
    width: 18px; 
    margin-left: 4%;
}