<div id="page">
    <div class="container">
        <div class=" clearfix">
            
            <div class="welcome">
                <img src="../../../../assets/Icons/Logo.png" width="270" height="151">
                <p id="rr">Reset Your Password</p>
            </div>
            

            <form class="form-horizontal" (ngSubmit)="reset()" autocomplete="off">
                
                <!-- Input new password -->
                <div class="form-group relative password">
                    <input 
                        name="new_password"
                        id="new_password" 
                        class="form-control input-lg" 
                        [type]="showPassword ? 'text' : 'password'" 
                        placeholder="New password" 
                        [(ngModel)]="passwordReset.password"
                        spellcheck="false"
                        required
                        >
                    <i  *ngIf="showPassword; else hideIcon" (click)="togglePasswordVisibility()" class="icon fa fa-eye"></i>
                    
                    <ng-template #hideIcon>
                        <i  class="icon fa fa-eye-slash" (click)="togglePasswordVisibility()"></i>
                    </ng-template>
                </div>
                <!-- End of Input new password -->

                <!-- Input Confirm password -->
                <div class="form-group relative password">
                    <input 
                        name="new_password_confirm"
                        id="new_password_confirm" 
                        class="form-control input-lg" 
                        [type]="showPasswordCnf ? 'text' : 'password'" 
                        placeholder="Confirm password" 
                        [(ngModel)]="passwordReset.confirmPassword"
                        spellcheck="false"
                        required
                        autocomplete="current-password">
                    <i *ngIf="showPasswordCnf; else hideIconCnf" (click)="togglePasswordVisibilityCnf()" class="icon fa fa-eye"></i>
                    
                    <ng-template #hideIconCnf>
                        <i class="icon fa fa-eye-slash" (click)="togglePasswordVisibilityCnf()"></i>
                    </ng-template>
                </div>
                <!-- End of Input Confirm password -->

                <!-- Submit button -->
                <div id="btn-div" class="form-group" style="display: flex;justify-content: center; ">
                    <button type="submit" class="btn btn-primary" style="margin-top: 10%; width:100%; font-size: 17px;" >Reset</button>
                </div>
                <!-- End of Submit button -->

            </form>
        </div>
    </div>
</div>