.wrapper{
    display: flex;
}

.profilecontent img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.search-container {
    display: flex;
    align-items: center;
}

.search {
    margin-right: 1rem;
}

.search input{
    padding: 11px;
    border-radius: 5px;
}

.deleteBtn button{
    border-radius: 20%;
    background-color: #ec5941;
    width: 30px;
    height: 30px;
    color: black;
}