<p-confirmDialog></p-confirmDialog>
<app-nav-bar></app-nav-bar>
<div class="wrapper">
    <app-project-sidebar 
    [projectName]="projectName"></app-project-sidebar>
    
    
    <div class="content">
    <!-- Numeracija strana -->
        <p-table
            #dt
            [value]="users"
            dataKey="name"
            [rowHover]="true"
            [paginator]="true"
            [rows]="5"
            [first]="first"
            [totalRecords]="totalRecords"
            [showCurrentPageReport]="true"
            [resizableColumns]="true"
            [reorderableColumns]="true"
            [columns]="showColumns"
            [rowsPerPageOptions]="[5,10, 25, 50]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0"
            [globalFilterFields]="['name']"
            responsiveLayout="stack" [breakpoint]="'960px'"
            (onPage)="pageChange($event)"
            [lazy]="true"
            (onLazyLoad)="loadUsers($event)"
            sortMode="multiple"
        >
            <!-- Pretraga korisnika -->
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <div class="filterTableOptions search-container">
                        <div class="search">
                            <span class="p-input-icon-right">
                                <i class="pi pi-search"></i>
                                <input type="text" (input)="search()" pInputText [(ngModel)]="searchTerm" [style]="{minWidth: '14rem'}" placeholder="Search" autocomplete="off"/>
                            </span>
                        </div>
                        <p-dropdown class="dropdown" [options]="userRole" (onChange)="search()" [(ngModel)]="selectedRole" [style]="{minWidth: '14rem'}" placeholder="Select role" [showClear]="true"></p-dropdown>
                        <div style="padding-inline: 16px;">
                            <p-multiSelect 
                            [options]="columns" 
                            [(ngModel)]="selectedColumns" 
                            selectedItemsLabel="{0} columns selected" 
                            [style]="{'width': '30vh'}" 
                            placeholder="Choose Columns"
                            (onChange)="onSelectedChange()"
                            ></p-multiSelect>
                        </div>
                    </div>
                    
                    <div class="btn-add-user">
                        <p-button
                            data-bs-toggle="modal"
                            data-bs-target="#modalAddUser"
                            [outlined]="true"
                            (click)="updateOptions(dropdown1)"
                        >
                            Add user
                        </p-button>
                    </div>
                </div>
            </ng-template>

            <!-- Table header -->
            <ng-template pTemplate="header" let-columns>
                <tr class="header">
                    <ng-container *ngFor="let column of columns">
                        <th pReorderableColumn pResizableColumn pSortableColumn="username" *ngIf="column=='Username'">
                            Username
                            <p-sortIcon field="username"></p-sortIcon>
                        </th>
                        <th pReorderableColumn pResizableColumn pSortableColumn="email" *ngIf="column=='Email address' && selectedColumns.includes('Email address')" >
                            Email address
                            <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th pReorderableColumn pResizableColumn pSortableColumn="firstName" *ngIf="column=='Firstname' && selectedColumns.includes('Firstname')">
                            Firstname
                            <p-sortIcon field="firstName"></p-sortIcon>
                        </th>
                        <th pReorderableColumn pResizableColumn pSortableColumn="lastname" *ngIf="column=='Lastname' && selectedColumns.includes('Lastname')">
                            Lastname
                            <p-sortIcon field="lastname"></p-sortIcon>
                        </th>
                        <th pReorderableColumn pResizableColumn pSortableColumn="companyRoleName" *ngIf="column=='Role' && selectedColumns.includes('Role')">
                            Role
                            <p-sortIcon field="companyRoleName"></p-sortIcon>
                        </th>
                        <th pReorderableColumn pResizableColumn pSortableColumn="address" *ngIf="column=='Address' && selectedColumns.includes('Address')">
                            Address
                            <p-sortIcon field="address"></p-sortIcon>
                        </th>
                        <th pReorderableColumn pResizableColumn pSortableColumn="contactPhone" *ngIf="column=='Contact phone' && selectedColumns.includes('Contact phone')">
                            Contact phone
                            <p-sortIcon field="contactPhone"></p-sortIcon>
                        </th>
                        <th pReorderableColumn pResizableColumn pSortableColumn="status" *ngIf="column=='Status' && selectedColumns.includes('Status')">
                            Status
                            <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th pReorderableColumn pResizableColumn *ngIf="column==''"></th>
                    </ng-container>
                </tr>
            </ng-template>
            
            <ng-template class="table-users" pTemplate="body" let-user let-columns="columns">
                <tr [ngClass]="{'active-user' : user.isActive, 'inactive-user': !user.isActive}">
                    <ng-container *ngFor="let column of columns">
                        <td *ngIf="column=='Username'">
                            <span class="p-column-title" style="font-weight: bold;">Account</span>
                            <div class="profilecontent" (click)="showProfile(user.username)">
                                <img id="image_{{user.username}}" draggable="false" src={{getUserImagePath(user.username,users)}} alt="user-default-image">
                                <span pTooltip="User profile">{{ user.username }}</span>
                            </div>
                        </td>

                        <td *ngIf="column=='Email address' && selectedColumns.includes('Email address')">
                            <span class="p-column-title" style="font-weight: bold;">Email</span>
                            <a class="mail" href="mailto:{{user.email}}"> {{user.email}}</a>
                        </td>

                        <td *ngIf="column=='Firstname' && selectedColumns.includes('Firstname')">
                            <span class="p-column-title" style="font-weight: bold;">Firstname</span>
                            <span > {{user.firstName }}</span>
                        </td>

                        <td *ngIf="column=='Lastname' && selectedColumns.includes('Lastname')">
                            <span class="p-column-title" style="font-weight: bold;">Lastname</span>
                            <span> {{user.lastName }}</span>
                        </td>

                        <td *ngIf="column=='Role' && selectedColumns.includes('Role')">
                            <span class="p-column-title" style="font-weight: bold;">Company role</span>
                            {{ user.companyRoleName }}
                        </td>

                        <td *ngIf="column=='Address' && selectedColumns.includes('Address')">
                            <span class="p-column-title" style="font-weight: bold;">Address</span>
                            <span> {{user.address }}</span>
                        </td>

                        <td *ngIf="column=='Contact phone' && selectedColumns.includes('Contact phone')">
                            <span class="p-column-title" style="font-weight: bold;">Contact phone</span>
                            <span> {{user.contactPhone }}</span>
                        </td>

                        <td *ngIf="column=='Status' && selectedColumns.includes('Status')">
                            <span class="p-column-title" style="font-weight: bold;">Status</span>
                            <span> {{user.status }}</span>
                        </td>

                        <td *ngIf="column==''"><span class="p-column-title" style="font-weight: bold">Actions</span>
                            <div *ngIf="project && (user.username !== project.ownerUsername)" class="action">
                                <div class="deleteBtn">
                                    <button type="button" pButton pRipple icon="fa-solid fa-right-from-bracket" 
                                        (click)="deleteUserFromProject($event, user.username)"
                                        class="p-button-danger mr-2"
                                        tooltipPosition="bottom"></button>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="modal fade" id="modalAddUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Form Header -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add new user on project</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- End of Form Header -->
            <div class="modal-body">
                <!-- Form -->
                <form #addUserForm="ngForm" id="addUserForm" class="row" autocomplete="off" style="margin-bottom: 5%;">
                    <p-dropdown 
                        [options]="allUsers"
                        [(ngModel)]="userForAdd" 
                        optionLabel="username" 
                        [filter]="true" 
                        filterBy="username" 
                        [showClear]="true" 
                        [style]="{minWidth: '100%'}" 
                        name="userForAdd"
                        placeholder="Add user"
                        #dropdown1>
                        <ng-template let-user pTemplate="item">
                            <div class="profilecontent">
                                <img id="image_{{user.username}}" draggable="false" src={{getUserImagePath(user.username,allUsers)}} alt="user-default-image">
                                <span>{{ user.username }}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </form>
                <div class="color-wrapper">
                    <span>Color: </span>
                    <p-colorPicker [(ngModel)]="color" class="color-picker"></p-colorPicker>
                </div>
                <!-- End of Form -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" 
                class="btn btn-primary" 
                (click)="addUser()" 
                [disabled]="!addUserForm.valid" 
                data-bs-dismiss="modal">Add User</button>
            </div>
        </div>
    </div>
</div>