<app-nav-bar></app-nav-bar>
<div class="wrapper">
    <app-project-sidebar></app-project-sidebar>
    
    <div class="container">
    <!-- Numeracija strana -->
        <p-table
            #dt
            [value]="users"
            dataKey="id"
            [rowHover]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5,10, 25, 50]"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0"
            [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        >
            <!-- Pretraga korisnika -->
            <ng-template pTemplate="caption">
                <div class="table-header">
                    <div class="filterTableOptions">
                        <div class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input id="search-users-by-username" [(ngModel)]="searchTerm" (input)="search()" pInputText placeholder="Search keyword"/>
                            <p-cascadeSelect [options]="userRoleName" optionLabel="name" optionGroupLabel="name" [style]="{minWidth: '14rem'}" placeholder="Select role"></p-cascadeSelect>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Table header -->
            <ng-template pTemplate="header">
                <tr class="header">
                    <th>Firstname</th>
                    <th>Email address</th>
                    <th>Username</th>
                    <th>Role</th>
                </tr>
            </ng-template>
            
            <ng-template class="table-users" pTemplate="body" let-user>
                <tr [ngClass]="{'active-user' : user.isActive, 'inactive-user': !user.isActive}">
                    <td>
                        <span class="p-column-title" style="font-weight: bold;">Account</span>
                        <div class="profilecontent">
                            <img draggable="false" *ngIf="1==1; else secondImageSource"
                            src={{getUserImagePath(user.username)}} alt="user-default-image">
                            <ng-template #secondImageSource>
                                <img alt="user-image">
                            </ng-template>
                            <span>{{ user.firstName }}</span>
                        </div>
                    </td>

                    <td>
                        <span class="p-column-title" style="font-weight: bold;">Email</span>
                        <a class="mail" href="mailto:{{user.email}}"> {{user.email}}</a>
                    </td>

                    <td>
                        <span class="p-column-title" style="font-weight: bold;">Username</span>
                        <a class="username" href="mailto:{{user.email}}"> {{user.username }}</a>
                    </td>

                    <td>
                        <span class="p-column-title" style="font-weight: bold;">Company role</span>
                        {{ user.companyRoleName }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>