.textarea-inline-control {
  border-color: transparent;
  padding: 7px 7px 8px;
  line-height: 1.28;
  resize: none;
  box-shadow: transparent 0px 0px 0px 1px;
  transition: background 0.1s ease 0s;
  overflow: auto;
  overflow-y: hidden;
  width: 70%;
  border-radius: 3px;
  appearance: none;
  height: auto;
  color: var(--text-color);
}
.textarea-inline-control:hover:not(:focus) {
  background-color: lightgray;
}
.textarea-inline-control:focus {
  border: 1px solid #4c9aff;
  /* border-color: blueviolet; */
  box-shadow: 0 0 0 1px #4c9aff;
  outline: none;
}

.textarea-border {
  color: rgb(137, 147, 164);
  border: 1px solid rgb(223, 225, 230);
  cursor: text;
  user-select: none;
  padding: 12px 16px;
  border-radius: 4px;
}

.info-user {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.font-weight-bold {
  font-weight: bold;
}

.comment-space {
  width: 70%;
  overflow-wrap: break-word;
}

:host ::ng-deep .p-button{
  color: white;
}