<div>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="container d-flex justify-content-center align-items-center vh-100">

        <div id="wrapper">
            <app-password-reset style="width: 80%;"></app-password-reset>
        </div>
        
    </div>
</div>