<nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">ProjSync</a>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Some link?</a>
        </li>

        <div class="dropdown" dropdown>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" dropdownToggle>Your work</a>
            <ul class="dropdown-menu" *dropdownMenu>
              <li><a class="dropdown-item" href="#">Your Projects</a></li>
              <li><a class="dropdown-item" href="#">Your Tasks</a></li>
            </ul>
          </li>
        </div>
        
        <div class="dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle>People</a>
            <ul class="dropdown-menu" *dropdownMenu>
              <li><a class="dropdown-item" href="#">people_opt1</a></li>
              <li><a class="dropdown-item" href="#">people_opt_2</a></li>
              <li class="divider dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
        </div>

        <div class="dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle>Dashboard</a>
            <ul class="dropdown-menu" *dropdownMenu>
              <li><a class="dropdown-item" href="#">dashboard_opt1</a></li>
              <li><a class="dropdown-item" href="#">dashboard_opt_2</a></li>
            </ul>
        </div>

      </ul>

      <div class="d-lg-flex col-lg-3">
        <button class="btn btn-primary">Create</button>
      </div>
      
      <form role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form>
      
  </div>
</nav>

