<!-- <app-spinner></app-spinner> -->

<nav class="navbar navbar-expand-lg navigation navbar-custom-color px-4">
  <div class="container-fluid">
    <div class="logo">
      <a class="navbar-brand" routerLink="/home">
        <img class="logo-link" src="../../../../assets/Icons/projsync_home_logo.png" alt="home_logo" draggable="false">
      </a>
    </div>
    <button class="navbar-toggler button-collapse" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 left--menu">
        <!-- Ovde su bili linkovi za dropdown opcije -->
        <div class="navbar-item work-link" (click)="word.toggle($event)">
          <span class="navbar-text">Work</span>
          <p-overlayPanel #word [dismissable]="true" appendTo="body">
            <ng-template pTemplate="content">
              <div class="dropdown-div">
                <div class="dropdown-item" (click)="navigateToDesiredTab('false')">
                  My Projects
                </div>
                <div class="dropdown-item" (click)="navigateToDesiredTab('true')">
                  My Tasks
                </div>
              </div>
            </ng-template>
          </p-overlayPanel>
        </div>        
      </ul>

      <div class="d-flex right--side">
        

        <form class="d-flex nav_right_opt" role="search">
          <input type="text" class="p-inputttext-sm" pInputText [style]="{minWidth: '14rem'}" placeholder="Search" autocomplete="off"/>
        </form>
        <!-- <div class="notification-wrap"> -->
          <div class=" nav_right_opt icon" >
            <app-notification></app-notification>
          </div>
        <!-- </div> -->
        
        <div class="icon">
          <p-overlayPanel #settings>
              <ng-template pTemplate="content">
                <div class="dropdown-div">
                  <div style="display: flex; align-items: center;">
                      <p style="margin-bottom: 8px;">Dark mode:&nbsp;</p>
                      <p-inputSwitch [(ngModel)]="isDarkTheme" class="small_input_switch" (onChange)="changeTheme()" />
                  </div>
                </div>
              </ng-template>
          </p-overlayPanel>
          <div class="nav_right_op">
            <i id="gear" class="fa-solid fa-gear " (click)="settings.toggle($event)" ></i>
          </div>
          
          
        </div>
        <div class="icon">
          <a routerLink="/home/info-page">
            <i class="pi pi-question-circle"
            style="color: black"
            pTooltip="FAQ"
            tooltipPosition="bottom"></i>
          </a>
        </div>
        
        <!-- POPOVER -->
        <div>
          <p-overlayPanel #op>
              <ng-template pTemplate="content">
                <div class="dropdown-div" id="dropdown-user-info">
                  
                  <div class="image">
                    <img id="small_user_image" class="biggerImage" src="{{getDefaultImage()}}" alt="user-image" draggable="false">
                  </div>
                  <div class="info">
                    <div class="fullname"> {{getFullName()}} </div>
                    <div class="email"> {{getEmail()}} </div>
                  </div>
                </div>
                <hr>
                <div class="dropdown-div">
                  <div style="font-weight: bold;">Settings</div>
                  <div>
                    <span class="clickable" routerLink="/home/edit-profile">Edit My Profile</span>
                  </div>
                  <div>
                    <span class="clickable" (click)="logout()">Logout</span>
                  </div>
                </div>
                
              </ng-template>
          </p-overlayPanel>
          <img id="profile-image" 
            class=" nav_right_opt"
            src="../../../../assets/images/DefaultAccountProfileImages/default_account_image_1.png" 
            alt="user-image" draggable="false" 
            (click)="op.toggle($event)" 
            (click)="setSmallerUserPicture()">
        </div>

      </div>
    </div>
  </div>
</nav>