.status-list {
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 0.125rem;
    background-color: var(--surface-card);
    flex-shrink: 0;
    padding-bottom: 20px;
}
.status-list .issue-card-container {
    height: 100%;
    padding-left: 0.5rem;
}
.status-list .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.status-list .cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.status-list .cdk-drag-placeholder .issue-wrap {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px;
}
.status-list .cdk-drag-placeholder .issue-wrap .issue {
    opacity: 0;
}