<app-spinner></app-spinner>

<div id="page-wrapper">
    
    <app-nav-bar></app-nav-bar>

    <div class="content">

        <div id="left-container">

            <div id="search-header">
                <p-autoComplete
                    [(ngModel)]="selectedUser"
                    [dropdown]="true"
                    [showClear]="true"
                    [suggestions]="filteredUsers"
                    (completeMethod)="searchUsers($event)"
                    field="username"
                    [placeholder]="'Type to search users...'"
                    class="custom-autocomplete"
                    [spellcheck]="false"
                >
                    <ng-template pTemplate="selectedItem">
                        <div class="user-div flex align-items-center gap-2" *ngIf="selectedUser">
                            <img src="{{ getUserImagePath(selectedUser.username, usersForChat ) }}" />
                            <div>{{ selectedUser.username }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-user pTemplate="item">
                        <div class="user-div flex align-items-center gap-2">
                            <img src="{{ getUserImagePath(user.username, usersForChat ) }}" />
                            <div>{{ user.username }}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>

            <div id="previous-chats">
                <div class="chat-card" *ngFor="let chat of previousChats">
                    <div class="image-info">
                        <img src="{{ getUserImagePath(chat.conversationPartnerUsername, usersForChat ) }}" alt="img">
                        
                        <div class="name-and-last-message">
                            <div class="name">
                                {{ chat.conversationPartnerName }}
                            </div>
                            <div class="last-message" pTooltip="{{chat.lastMessage}}">
                                {{ getTrimmedMessageContent(chat.lastMessage) }}
                            </div>
                        </div>
                    </div>
                    <div class="last-message-time">
                        {{ chat.dateCreated | date:'short' }}
                    </div>
                </div>
            </div>
        </div>

        <div id="right-container">

            <div class="chat-header">
                <div class="chatter-info">
                    <img src="../../../../assets/project-icon/image1.png" alt="">
                    <span>Username</span>
                </div>
                <div class="chatter-status">
                    Online/Offline
                </div>
            </div>

            <div id="messages-div-id" class="chat-messages">
                <div class="message msg-received">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, qui laborum nam sed quae ea ex labore vitae numquam deleniti quisquam iste mollitia omnis molestias nostrum optio perspiciatis cupiditate quidem!
                </div>
                <div class="message msg-sent">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, qui laborum nam sed quae ea ex labore vitae numquam deleniti quisquam iste mollitia omnis molestias nostrum optio perspiciatis cupiditate quidem!
                </div>
                <div class="message msg-received">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, qui laborum nam sed quae ea ex labore vitae numquam deleniti quisquam iste mollitia omnis molestias nostrum optio perspiciatis cupiditate quidem!
                </div>
                <div class="message msg-sent">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, qui laborum nam sed quae ea ex labore vitae numquam deleniti quisquam iste mollitia omnis molestias nostrum optio perspiciatis cupiditate quidem!
                </div>
                <div class="message msg-received">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, qui laborum nam sed quae ea ex labore vitae numquam deleniti quisquam iste mollitia omnis molestias nostrum optio perspiciatis cupiditate quidem!
                </div>
                <div class="message msg-sent">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, qui laborum nam sed quae ea ex labore vitae numquam deleniti quisquam iste mollitia omnis molestias nostrum optio perspiciatis cupiditate quidem!
                </div>
                <div class="message msg-received">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, qui laborum nam sed quae ea ex labore vitae numquam deleniti quisquam iste mollitia omnis molestias nostrum optio perspiciatis cupiditate quidem!
                </div>
                <div class="message msg-sent">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, qui laborum nam sed quae ea ex labore vitae numquam deleniti quisquam iste mollitia omnis molestias nostrum optio perspiciatis cupiditate quidem!
                </div>
                <div class="message msg-received">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, qui laborum nam sed quae ea ex labore vitae numquam deleniti quisquam iste mollitia omnis molestias nostrum optio perspiciatis cupiditate quidem!
                </div>
                <div class="message msg-sent">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, qui laborum nam sed quae ea ex labore vitae numquam deleniti quisquam iste mollitia omnis molestias nostrum optio perspiciatis cupiditate quidem!
                </div>
            </div>

            <div class="newMessage">
                <textarea  name="newMessage" id="newMessage" placeholder="Type your message here..."></textarea>
            </div>

        </div>

    </div>

</div>