<ng-container *ngIf="!clickedModalForCreatingTask">
    <!-- 
        Komentar:   Primeni spinner na celoj stranici ukoliko nije selektovan popup za dodavanje zadataka
                    jer je na modalu stavljen spinner dok on dovuce grupe, prioritete i sl.
    -->
    <app-spinner></app-spinner>
</ng-container>

<div id="pageWraper">
    <app-nav-bar></app-nav-bar>
    <div id="contentPages">
        <app-project-sidebar *ngIf="visibleSide" [projectName]="projectName"></app-project-sidebar>
        <div id="content">
            <div id="tasks-header">
                <div id="add-task-div">
                    <button id="create-task-button" (click)="showCreateTaskPopupTaskList()">Create task</button>
                </div>

                <div id="change-view">
                    <div class="Viewbtn">
                        <thy-button routerLink="/home/projects/tasks/{{projectName}}" id="Viewbtn">List</thy-button>
                    </div>
                    <div class="Viewbtn">
                        <thy-button routerLink="/home/projects/kanban/{{projectName}}" id="Viewbtn">Kanban</thy-button>
                    </div>
                    <div class="Viewbtn">
                        <thy-button class="selected-button" id="Viewbtn">Gantt</thy-button>
                    </div>
                </div>
            </div>
            <div id="tasks">
                  
                <p-table
                    #dt1
                    
                    [value]="tasks"
                    dataKey="{{dataKey}}"
                    [globalFilterFields]="['name']"
                    [tableStyle]="{'width': '100%'}"
                    responsiveLayout="stack" 
                    [breakpoint]="'960px'"
                    styleClass="p-datatable-striped"
                    [paginator]="true"
                    [rows]="10"
                    [first]="first"
                    [totalRecords]="totalRecords"
                    sortMode="multiple"
                    [rowsPerPageOptions]="[10, 50, 100, 200]"
                    [showCurrentPageReport]="true"
                    (onPage)="pageChange($event)"
                    currentPageReportTemplate="Showing {first} to {last} of {{totalRecords}} entries"
                    [resizableColumns]="true"
                    [reorderableColumns]="true"
                    [columns]="showColumns" 
                    [lazy]="true"
                    (onLazyLoad)="loadIssues($event)">
                    
                    
                    <ng-template pTemplate="caption">
                        <div class="table-header">
                            <div class="search">
                                <span class="p-input-icon-right">
                                    <i class="pi pi-search"></i>
                                    <input type="text" (input)="search()" pInputText [(ngModel)]="searchTerm" [style]="{minWidth: '14rem'}" placeholder="Search" autocomplete="off"/>
                                </span>
                            </div>
                            <p-multiSelect 
                            [options]="columns"
                            [(ngModel)]="selectedColumns" 
                            selectedItemsLabel="{0} columns selected" 
                            [style]="{'width': '30vh'}" 
                            placeholder="Choose Columns"
                            (onChange)="onSelectedChange()"
                            ></p-multiSelect>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr class="first-row">
                            <ng-container *ngFor="let column of columns">
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Name'" pSortableColumn="name">
                                    Name
                                    <p-sortIcon field="name"></p-sortIcon>
                                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Priority' && selectedColumns.includes('Priority')" pSortableColumn="priorityName">
                                    Priority
                                    <p-sortIcon field="priorityName"></p-sortIcon>
                                    <p-columnFilter field="priorityName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                        <ng-template pTemplate="header">
                                            <div class="px-3 pt-3 pb-0">
                                                <span class="font-bold">Priority</span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="filter" let-task let-value let-filter="filterCallback" >
                                            <p-multiSelect [ngModel]="value" [options]="issuePriority" placeholder="Any" (onChange)="filter($event.value)">
                                                <ng-template let-task let-option pTemplate="item" >
                                                    <div class="inline-block vertical-align-middle">
                                                        <p-tag [value]="option" [severity]="getSeverity(option)"></p-tag>
                                                    </div>
                                                </ng-template>
                                            </p-multiSelect>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Type' && selectedColumns.includes('Type')" pSortableColumn="typeName">
                                    Type
                                    <p-sortIcon field="typeName"></p-sortIcon>
                                    <p-columnFilter field="typeName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                        <ng-template pTemplate="header">
                                            <div class="px-3 pt-3 pb-0">
                                                <span class="font-bold">Type</span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="filter" let-task let-value let-filter="filterCallback" >
                                            <p-multiSelect [ngModel]="value" [options]="issueType" placeholder="Any" (onChange)="filter($event.value)">
                                                <ng-template let-task let-option pTemplate="item" >
                                                    <div class="inline-block vertical-align-middle">
                                                        <p-tag [value]="option" [severity]="getSeverity(option)"></p-tag>
                                                    </div>
                                                </ng-template>
                                            </p-multiSelect>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Status' && selectedColumns.includes('Status')" pSortableColumn="statusName">
                                    Status
                                    <p-sortIcon field="statusName"></p-sortIcon>
                                    <p-columnFilter field="statusName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                        <ng-template pTemplate="header">
                                            <div class="px-3 pt-3 pb-0">
                                                <span class="font-bold">Status</span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="filter" let-task let-value let-filter="filterCallback" >
                                            <p-multiSelect [ngModel]="value" [options]="issueStatus" placeholder="Any" (onChange)="filter($event.value)">
                                                <ng-template let-task let-option pTemplate="item" >
                                                    <div class="inline-block vertical-align-middle">
                                                        <p-tag [value]="option" [severity]="getSeverity(option)"></p-tag>
                                                    </div>
                                                </ng-template>
                                            </p-multiSelect>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Reporter' && selectedColumns.includes('Reporter')" pSortableColumn="reporterUsername">
                                    Reporter
                                    <p-sortIcon field="reporterUsername"></p-sortIcon>
                                    <p-columnFilter type="text" field="reporterUsername" display="menu"></p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Group' && selectedColumns.includes('Group')" pSortableColumn="groupName">
                                    Group
                                    <p-sortIcon field="groupName"></p-sortIcon>
                                    <p-columnFilter field="groupName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                        <ng-template pTemplate="header">
                                            <div class="px-3 pt-3 pb-0">
                                                <span class="font-bold">Group</span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="filter" let-task let-value let-filter="filterCallback" >
                                            <p-multiSelect [ngModel]="value" [options]="groupNames" placeholder="Any" (onChange)="filter($event.value)">
                                                <ng-template let-task let-option pTemplate="item" >
                                                    <div class="inline-block vertical-align-middle">
                                                        <span class="ml-1 mt-1">{{ option }}</span>
                                                    </div>
                                                </ng-template>
                                            </p-multiSelect>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Due Date' && selectedColumns.includes('Due Date')" pSortableColumn="dueDate">
                                    Due Date
                                    <p-sortIcon field="dueDate"></p-sortIcon>
                                    <p-columnFilter type="date" field="dueDate" display="menu">
                                        <ng-template pTemplate="filter" let-filter="filterCallback">
                                            <p-calendar dateFormat="dd/mm/yy" (onSelect)="filter($event)"></p-calendar>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Created Date' && selectedColumns.includes('Created Date')" pSortableColumn="createdDate">
                                    Created Date
                                    <p-sortIcon field="createdDate"></p-sortIcon>
                                    <p-columnFilter type="date" field="createdDate" display="menu">
                                        <ng-template pTemplate="filter" let-filter="filterCallback">
                                            <p-calendar dateFormat="dd/mm/yy" (onSelect)="filter($event)"></p-calendar>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Updated Date' && selectedColumns.includes('Updated Date')" pSortableColumn="updatedDate">
                                    Updated Date
                                    <p-sortIcon field="updatedDate"></p-sortIcon>
                                    <p-columnFilter type="date" field="updatedDate" display="menu">
                                        <ng-template pTemplate="filter" let-filter="filterCallback">
                                            <p-calendar dateFormat="dd/mm/yy" (onSelect)="filter($event)"></p-calendar>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Completed' && selectedColumns.includes('Completed')" pSortableColumn="completed">
                                    Completed
                                    <p-sortIcon field="completed"></p-sortIcon>
                                    <p-columnFilter field="completed" matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                        <ng-template pTemplate="filter" let-filter="filterCallback">
                                            <p-slider [ngModel]="completedValues" [range]="true" (onSlideEnd)="filter($event.values)" styleClass="m-3"></p-slider>
                                            <div class="flex align-items-center px-2">
                                                <span>{{ completedValues[0] }} - </span>
                                                <span>{{ completedValues[1] }}</span>
                                            </div>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                        </ng-container>
                        </tr>
                    </ng-template>
                    
    
                    <ng-template pTemplate="body" let-task let-columns="columns">
                        <tr>
                            <ng-container *ngFor="let column of columns">
                                <td *ngIf="column=='Name'" style="width: 17vh; "><span class="p-column-title" style="font-weight: bold;">Name</span>
                                    
                                    <div class="alignt-text-left">
                                        <a style="text-decoration: none; color: #0d6efd; cursor: pointer;" 
                                            (click)="openIssueModal(task.id)"
                                            pTooltip="{{task.title}}"
                                            >{{ getTrimmedTitle(task.title) }}</a>
                                    </div>
                                </td>
                                <td *ngIf="column=='Priority' && selectedColumns.includes('Priority')" style="width: 17vh; " class="fill-td">
                                    <span class="p-column-title" style="font-weight: bold;">Priority</span>
                                    <p-tag class="p-tag-fill" [value]="task.priority" [severity]="getSeverity(task.priority)"></p-tag>
                                </td>
                                <td *ngIf="column=='Type' && selectedColumns.includes('Type')" style="width: 17vh; " class="fill-td">
                                    <span class="p-column-title" style="font-weight: bold;">Type</span>
                                    <p-tag class="p-tag-fill" [value]="task.type" [severity]="getSeverity(task.type)"></p-tag>
                                </td>
                                <td *ngIf="column=='Status' && selectedColumns.includes('Status')" style="width: 17vh; " class="fill-td">
                                    <span class="p-column-title" style="font-weight: bold;">Status</span>
                                    <p-tag class="p-tag-fill" [value]="task.status" [severity]="getSeverity(task.status)"></p-tag>
                                </td>
                                <td *ngIf="column=='Reporter' && selectedColumns.includes('Reporter')" style="width: 17vh; ">
                                    <span class="p-column-title" style="font-weight: bold">Reporter</span>
                                    {{ task.reporterUsername }}
                                </td>
                                <td *ngIf="column=='Group' && selectedColumns.includes('Group')" style="width: 17vh; ">
                                    <span class="p-column-title" style="font-weight: bold">Group</span>
                                    {{ task.groupName }}
                                </td>
                                <td *ngIf="column=='Due Date' && selectedColumns.includes('Due Date')" style="width: 16vh; ">
                                    <span class="p-column-title" style="font-weight: bold">Due Date</span>
                                    {{ task.dueDate.split(' ',1)[0] }}
                                </td>
                                <td *ngIf="column=='Created Date' && selectedColumns.includes('Created Date')" style="width: 16vh; ">
                                    <span class="p-column-title" style="font-weight: bold">Created Date</span>
                                    {{ task.createdAt.split(' ',1)[0] }}
                                </td>
                                <td *ngIf="column=='Updated Date' && selectedColumns.includes('Updated Date')" style="width: 16vh; ">
                                    <span class="p-column-title" style="font-weight: bold">Updated Date</span>
                                    {{ task.updatedAt.split(' ',1)[0] }}
                                </td>
                                <td *ngIf="column=='Completed' && selectedColumns.includes('Completed')" style="width: 16vh; ">
                                    <span class="p-column-title" style="font-weight: bold">Completed</span>
                                    <p-progressBar [value]=task.completed
                                    [pTooltip]="tooltipTaskProgress"
                                    tooltipPosition="top"
                                    ></p-progressBar>
                                    <ng-template #tooltipTaskProgress>
                                        <div class="flex align-items-center">
                                            <i class="fa-solid fa-check"></i>   
                                            <span> <b> {{ task.completed }}%</b> </span>
                                        </div>
                                    </ng-template>
                                </td>
                            </ng-container>
                        </tr>
                    </ng-template>
                    
                </p-table>
                
            </div>
        </div>
    </div>
</div>