<app-spinner></app-spinner>

<div id="pageWraper">
    <app-nav-bar></app-nav-bar>
    <div id="contentPages">
        <app-project-sidebar *ngIf="visibleSide" [projectName]="projectName"></app-project-sidebar>
        <div id="content">
            <h2>Tasks</h2>
            <div id="tasks">
  
                <p-table
                    #dt1
                    *ngIf="visible"
                    [value]="groupView ? tasksByGroup : tasks"
                    dataKey="{{dataKey}}"
                    [globalFilterFields]="['name']"
                    [tableStyle]="{'width': '100%'}"
                    responsiveLayout="stack" 
                    [breakpoint]="'960px'"
                    styleClass="p-datatable-striped"
                    [paginator]="!groupView"
                    [rows]="10"
                    [first]="first"
                    sortMode="multiple"
                    [rowsPerPageOptions]="[10, 50, 100, 200]"
                    [showCurrentPageReport]="true"
                    (onPage)="pageChange($event)"
                    currentPageReportTemplate="Showing {first} to {last} of {{issuesInGroup.length}} entries"
                    [resizableColumns]="true"
                    [reorderableColumns]="true"
                    [columns]="showColumns" >
                    
                    
                    <ng-template pTemplate="caption">
                        <div class="table-header">
                            <div class="group-view"> 
                                <p-checkbox label="Show by groups" [(ngModel)]="groupView" [binary]="true" (onChange)="changeView()" ></p-checkbox>
                            </div>
                            <div class="search">
                                <span class="p-input-icon-right">
                                    <i class="pi pi-search"></i>
                                    <input type="text" (input)="search()" pInputText [(ngModel)]="searchTerm" [style]="{minWidth: '14rem'}" placeholder="Search" autocomplete="off"/>
                                </span>
                            </div>
                            <p-multiSelect 
                            [options]="columns"
                            [(ngModel)]="selectedColumns" 
                            selectedItemsLabel="{0} columns selected" 
                            [style]="{'width': '30vh'}" 
                            placeholder="Choose Columns"
                            (onChange)="onSelectedChange()"
                            ></p-multiSelect>
                        </div>
                    </ng-template>

                    <ng-template *ngIf="!groupView" pTemplate="header" let-columns>
                        <tr>
                            <ng-container *ngFor="let column of columns">
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Name'" pSortableColumn="name">
                                    Name
                                    <p-sortIcon field="name"></p-sortIcon>
                                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Priority' && selectedColumns.includes('Priority')" pSortableColumn="priorityName">
                                    Priority
                                    <p-sortIcon field="priorityName"></p-sortIcon>
                                    <p-columnFilter field="priorityName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                        <ng-template pTemplate="header">
                                            <div class="px-3 pt-3 pb-0">
                                                <span class="font-bold">Priority</span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="filter" let-task let-value let-filter="filterCallback" >
                                            <p-multiSelect [ngModel]="value" [options]="issuePriority" placeholder="Any" (onChange)="filter($event.value)">
                                                <ng-template let-task let-option pTemplate="item" >
                                                    <div class="inline-block vertical-align-middle">
                                                        <p-tag [value]="option" [severity]="getSeverity(option)"></p-tag>
                                                    </div>
                                                </ng-template>
                                            </p-multiSelect>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Type' && selectedColumns.includes('Type')" pSortableColumn="typeName">
                                    Type
                                    <p-sortIcon field="typeName"></p-sortIcon>
                                    <p-columnFilter field="typeName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                        <ng-template pTemplate="header">
                                            <div class="px-3 pt-3 pb-0">
                                                <span class="font-bold">Type</span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="filter" let-task let-value let-filter="filterCallback" >
                                            <p-multiSelect [ngModel]="value" [options]="issueType" placeholder="Any" (onChange)="filter($event.value)">
                                                <ng-template let-task let-option pTemplate="item" >
                                                    <div class="inline-block vertical-align-middle">
                                                        <p-tag [value]="option" [severity]="getSeverity(option)"></p-tag>
                                                    </div>
                                                </ng-template>
                                            </p-multiSelect>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Status' && selectedColumns.includes('Status')" pSortableColumn="statusName">
                                    Status
                                    <p-sortIcon field="statusName"></p-sortIcon>
                                    <p-columnFilter field="statusName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                        <ng-template pTemplate="header">
                                            <div class="px-3 pt-3 pb-0">
                                                <span class="font-bold">Type</span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="filter" let-task let-value let-filter="filterCallback" >
                                            <p-multiSelect [ngModel]="value" [options]="issueStatus" placeholder="Any" (onChange)="filter($event.value)">
                                                <ng-template let-task let-option pTemplate="item" >
                                                    <div class="inline-block vertical-align-middle">
                                                        <p-tag [value]="option" [severity]="getSeverity(option)"></p-tag>
                                                    </div>
                                                </ng-template>
                                            </p-multiSelect>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Reporter' && selectedColumns.includes('Reporter')" pSortableColumn="reporterUsername">
                                    Reporter
                                    <p-sortIcon field="reporterUsername"></p-sortIcon>
                                    <p-columnFilter type="text" field="reporterUsername" display="menu"></p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Description' && selectedColumns.includes('Description')" pSortableColumn="description">
                                    Description
                                    <p-sortIcon field="description"></p-sortIcon>
                                    <p-columnFilter type="text" field="description" display="menu"></p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Group' && selectedColumns.includes('Group')" pSortableColumn="groupName">
                                    Group
                                    <p-sortIcon field="groupName"></p-sortIcon>
                                    <p-columnFilter type="text" field="groupName" display="menu"></p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Due Date' && selectedColumns.includes('Due Date')" pSortableColumn="dueDate">
                                    Due Date
                                    <p-sortIcon field="dueDate"></p-sortIcon>
                                    <p-columnFilter type="date" field="dueDate" display="menu">
                                        <ng-template pTemplate="filter" let-filter="filterCallback">
                                            <p-calendar dateFormat="dd/mm/yy" (onSelect)="filter($event)"></p-calendar>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Created Date' && selectedColumns.includes('Created Date')" pSortableColumn="createdDate">
                                    Created Date
                                    <p-sortIcon field="createdDate"></p-sortIcon>
                                    <p-columnFilter type="date" field="createdDate" display="menu">
                                        <ng-template pTemplate="filter" let-filter="filterCallback">
                                            <p-calendar dateFormat="dd/mm/yy" (onSelect)="filter($event)"></p-calendar>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Updated Date' && selectedColumns.includes('Updated Date')" pSortableColumn="updatedDate">
                                    Updated Date
                                    <p-sortIcon field="updatedDate"></p-sortIcon>
                                    <p-columnFilter type="date" field="updatedDate" display="menu">
                                        <ng-template pTemplate="filter" let-filter="filterCallback">
                                            <p-calendar dateFormat="dd/mm/yy" (onSelect)="filter($event)"></p-calendar>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th pReorderableColumn pResizableColumn *ngIf="column=='Percentage' && selectedColumns.includes('Percentage')" pSortableColumn="percentage">
                                    Percentage
                                    <p-sortIcon field="percentage"></p-sortIcon>
                                    <p-columnFilter type="numeric" field="percentage" display="menu"></p-columnFilter>
                                </th>
                        </ng-container>
                        </tr>
                    </ng-template>

                    
                    <ng-template *ngIf="groupView" pTemplate="body" let-group let-expanded="expanded">
                        <tr>
                            <td style="text-align: left;">
                                <button type="button" pButton pRipple [pRowToggler]="group" class="p-button-text p-button-rounded p-button-plain mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">{{group.group}}</button>
                            </td>
                        </tr>
                    </ng-template>

                    
                    <ng-template pTemplate="rowexpansion" let-group>
                        <tr>
                            <td>
                                <p-table
                                    [value]="group.tasks"
                                    dataKey="name"
                                    [globalFilterFields]="['name']"
                                    [tableStyle]="{'width': '100%'}"
                                    responsiveLayout="stack" 
                                    [breakpoint]="'960px'"
                                    styleClass="p-datatable-striped"
                                    [columns]="selectedColumns"
                                    sortMode="multiple" >

                                    <ng-template pTemplate="header">
                                        <tr>
                    
                                            <th pSortableColumn="name">
                                                Name
                                                <p-sortIcon field="name"></p-sortIcon>
                                                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                                            </th>
                                            <th *ngIf="selectedColumns.includes('Priority')" pSortableColumn="priorityName">
                                                Priority
                                                <p-sortIcon field="priorityName"></p-sortIcon>
                                                <p-columnFilter field="priorityName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                                    <ng-template pTemplate="header">
                                                        <div class="px-3 pt-3 pb-0">
                                                            <span class="font-bold">Priority</span>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="filter" let-task let-value let-filter="filterCallback" >
                                                        <p-multiSelect [ngModel]="value" [options]="issuePriority" placeholder="Any" (onChange)="filter($event.value)">
                                                            <ng-template let-task let-option pTemplate="item" >
                                                                <div class="inline-block vertical-align-middle">
                                                                    <p-tag [value]="option" [severity]="getSeverity(option)"></p-tag>
                                                                </div>
                                                            </ng-template>
                                                        </p-multiSelect>
                                                    </ng-template>
                                                </p-columnFilter>
                                            </th>
                                            <th *ngIf="selectedColumns.includes('Type')" pSortableColumn="typeName">
                                                Type
                                                <p-sortIcon field="typeName"></p-sortIcon>
                                                <p-columnFilter field="typeName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                                    <ng-template pTemplate="header">
                                                        <div class="px-3 pt-3 pb-0">
                                                            <span class="font-bold">Type</span>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="filter" let-task let-value let-filter="filterCallback" >
                                                        <p-multiSelect [ngModel]="value" [options]="issueType" placeholder="Any" (onChange)="filter($event.value)">
                                                            <ng-template let-task let-option pTemplate="item" >
                                                                <div class="inline-block vertical-align-middle">
                                                                    <p-tag [value]="option" [severity]="getSeverity(option)"></p-tag>
                                                                </div>
                                                            </ng-template>
                                                        </p-multiSelect>
                                                    </ng-template>
                                                </p-columnFilter>
                                            </th>
                                            <th *ngIf="selectedColumns.includes('Status')" pSortableColumn="statusName">
                                                Status
                                                <p-sortIcon field="statusName"></p-sortIcon>
                                                <p-columnFilter field="statusName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                                    <ng-template pTemplate="header">
                                                        <div class="px-3 pt-3 pb-0">
                                                            <span class="font-bold">Type</span>
                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="filter" let-task let-value let-filter="filterCallback" >
                                                        <p-multiSelect [ngModel]="value" [options]="issueStatus" placeholder="Any" (onChange)="filter($event.value)">
                                                            <ng-template let-task let-option pTemplate="item" >
                                                                <div class="inline-block vertical-align-middle">
                                                                    <p-tag [value]="option" [severity]="getSeverity(option)"></p-tag>
                                                                </div>
                                                            </ng-template>
                                                        </p-multiSelect>
                                                    </ng-template>
                                                </p-columnFilter>
                                            </th>
                                            <th *ngIf="selectedColumns.includes('Reporter')" pSortableColumn="reporterUsername">
                                                Reporter
                                                <p-sortIcon field="reporterUsername"></p-sortIcon>
                                                <p-columnFilter type="text" field="reporterUsername" display="menu"></p-columnFilter>
                                            </th>
                                            <th *ngIf="selectedColumns.includes('Description')" pSortableColumn="description">
                                                Description
                                                <p-sortIcon field="description"></p-sortIcon>
                                                <p-columnFilter type="text" field="description" display="menu"></p-columnFilter>
                                            </th>
                                            <th *ngIf="selectedColumns.includes('Group')" pSortableColumn="groupName">
                                                Group
                                                <p-sortIcon field="groupName"></p-sortIcon>
                                                <p-columnFilter type="text" field="groupName" display="menu"></p-columnFilter>
                                            </th>
                                            <th *ngIf="selectedColumns.includes('Due Date')" pSortableColumn="dueDate">
                                                Due Date
                                                <p-sortIcon field="dueDate"></p-sortIcon>
                                                <p-columnFilter type="date" field="dueDate" display="menu">
                                                    <ng-template pTemplate="filter" let-filter="filterCallback">
                                                        <p-calendar dateFormat="dd/mm/yy" (onSelect)="filter($event)"></p-calendar>
                                                    </ng-template>
                                                </p-columnFilter>
                                            </th>
                                            <th *ngIf="selectedColumns.includes('Created Date')" pSortableColumn="createdDate">
                                                Created Date
                                                <p-sortIcon field="createdDate"></p-sortIcon>
                                                <p-columnFilter type="date" field="createdDate" display="menu">
                                                    <ng-template pTemplate="filter" let-filter="filterCallback">
                                                        <p-calendar dateFormat="dd/mm/yy" (onSelect)="filter($event)"></p-calendar>
                                                    </ng-template>
                                                </p-columnFilter>
                                            </th>
                                            <th *ngIf="selectedColumns.includes('Updated Date')" pSortableColumn="updatedDate">
                                                Updated Date
                                                <p-sortIcon field="updatedDate"></p-sortIcon>
                                                <p-columnFilter type="date" field="updatedDate" display="menu">
                                                    <ng-template pTemplate="filter" let-filter="filterCallback">
                                                        <p-calendar dateFormat="dd/mm/yy" (onSelect)="filter($event)"></p-calendar>
                                                    </ng-template>
                                                </p-columnFilter>
                                            </th>
                                            <th *ngIf="selectedColumns.includes('Percentage')" pSortableColumn="percentage">
                                                Percentage
                                                <p-sortIcon field="percentage"></p-sortIcon>
                                                <p-columnFilter type="numeric" field="percentage" display="menu"></p-columnFilter>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-task>
                                        <tr>
                    
                                            <td style="width: 17vh; "><span class="p-column-title" style="font-weight: bold;">Name</span>
                                                
                                                <div>
                                                    <a style="text-decoration: none;" routerLink="">{{ task.name }}</a>
                                                </div>
                                            </td>
                                            <td *ngIf="selectedColumns.includes('Priority')" style="width: 17vh; " class="fill-td">
                                                <span class="p-column-title" style="font-weight: bold;">Priority</span>
                                                <p-tag class="p-tag-fill" [value]="task.priorityName" [severity]="getSeverity(task.priorityName)"></p-tag>
                                            </td>
                                            <td *ngIf="selectedColumns.includes('Type')" style="width: 17vh; " class="fill-td">
                                                <span class="p-column-title" style="font-weight: bold;">Type</span>
                                                <p-tag class="p-tag-fill" [value]="task.typeName" [severity]="getSeverity(task.typeName)"></p-tag>
                                            </td>
                                            <td *ngIf="selectedColumns.includes('Status')" style="width: 17vh; " class="fill-td">
                                                <span class="p-column-title" style="font-weight: bold;">Status</span>
                                                <p-tag class="p-tag-fill" [value]="task.statusName" [severity]="getSeverity(task.statusName)"></p-tag>
                                            </td>
                                            <td *ngIf="selectedColumns.includes('Reporter')" style="width: 17vh; ">
                                                <span class="p-column-title" style="font-weight: bold">Reporter</span>
                                                {{ task.reporterUsername }}
                                            </td>
                                            <td *ngIf="selectedColumns.includes('Description')" style="width: 17vh; ">
                                                <span class="p-column-title" style="font-weight: bold">Description</span>
                                                {{ task.description }}
                                            </td>
                                            <td *ngIf="selectedColumns.includes('Group')" style="width: 17vh; ">
                                                <span class="p-column-title" style="font-weight: bold">Group</span>
                                                {{ task.groupName }}
                                            </td>
                                            <td *ngIf="selectedColumns.includes('Due Date')" style="width: 16vh; ">
                                                <span class="p-column-title" style="font-weight: bold">Due Date</span>
                                                {{ task.dueDate | date : 'dd/MM/yyyy' }}
                                            </td>
                                            <td *ngIf="selectedColumns.includes('Created Date')" style="width: 16vh; ">
                                                <span class="p-column-title" style="font-weight: bold">Created Date</span>
                                                {{ task.createdDate | date : 'dd/MM/yyyy' }}
                                            </td>
                                            <td *ngIf="selectedColumns.includes('Updated Date')" style="width: 16vh; ">
                                                <span class="p-column-title" style="font-weight: bold">Updated Date</span>
                                                {{ task.updatedDate | date : 'dd/MM/yyyy' }}
                                            </td>
                                            <td *ngIf="selectedColumns.includes('Percentage')" style="width: 16vh; ">
                                                <span class="p-column-title" style="font-weight: bold">Percentage</span>
                                                {{ task.percentage}} 
                                            </td>
                                            
                                        </tr>
                                    </ng-template>

                                </p-table>
                            </td>
                        </tr>
                    </ng-template>   
                    
    
                    <ng-template *ngIf="!groupView" pTemplate="body" let-task let-columns="columns">
                        <tr>
                            <ng-container *ngFor="let column of columns">
                                <td *ngIf="column=='Name'" style="width: 17vh; "><span class="p-column-title" style="font-weight: bold;">Name</span>
                                    
                                    <div>
                                        <a style="text-decoration: none;" routerLink="">{{ task.name }}</a>
                                    </div>
                                </td>
                                <td *ngIf="column=='Priority' && selectedColumns.includes('Priority')" style="width: 17vh; " class="fill-td">
                                    <span class="p-column-title" style="font-weight: bold;">Priority</span>
                                    <p-tag class="p-tag-fill" [value]="task.priorityName" [severity]="getSeverity(task.priorityName)"></p-tag>
                                </td>
                                <td *ngIf="column=='Type' && selectedColumns.includes('Type')" style="width: 17vh; " class="fill-td">
                                    <span class="p-column-title" style="font-weight: bold;">Type</span>
                                    <p-tag class="p-tag-fill" [value]="task.typeName" [severity]="getSeverity(task.typeName)"></p-tag>
                                </td>
                                <td *ngIf="column=='Status' && selectedColumns.includes('Status')" style="width: 17vh; " class="fill-td">
                                    <span class="p-column-title" style="font-weight: bold;">Status</span>
                                    <p-tag class="p-tag-fill" [value]="task.statusName" [severity]="getSeverity(task.statusName)"></p-tag>
                                </td>
                                <td *ngIf="column=='Reporter' && selectedColumns.includes('Reporter')" style="width: 17vh; ">
                                    <span class="p-column-title" style="font-weight: bold">Reporter</span>
                                    {{ task.reporterUsername }}
                                </td>
                                <td *ngIf="column=='Description' && selectedColumns.includes('Description')" style="width: 17vh; ">
                                    <span class="p-column-title" style="font-weight: bold">Description</span>
                                    {{ task.description }}
                                </td>
                                <td *ngIf="column=='Group' && selectedColumns.includes('Group')" style="width: 17vh; ">
                                    <span class="p-column-title" style="font-weight: bold">Group</span>
                                    {{ task.groupName }}
                                </td>
                                <td *ngIf="column=='Due Date' && selectedColumns.includes('Due Date')" style="width: 16vh; ">
                                    <span class="p-column-title" style="font-weight: bold">Due Date</span>
                                    {{ task.dueDate | date : 'dd/MM/yyyy' }}
                                </td>
                                <td *ngIf="column=='Created Date' && selectedColumns.includes('Created Date')" style="width: 16vh; ">
                                    <span class="p-column-title" style="font-weight: bold">Created Date</span>
                                    {{ task.createdDate | date : 'dd/MM/yyyy' }}
                                </td>
                                <td *ngIf="column=='Updated Date' && selectedColumns.includes('Updated Date')" style="width: 16vh; ">
                                    <span class="p-column-title" style="font-weight: bold">Updated Date</span>
                                    {{ task.updatedDate | date : 'dd/MM/yyyy' }}
                                </td>
                                <td *ngIf="column=='Percentage' && selectedColumns.includes('Percentage')" style="width: 16vh; ">
                                    <span class="p-column-title" style="font-weight: bold">Percentage</span>
                                    {{ task.percentage}} 
                                </td>
                            </ng-container>
                        </tr>
                    </ng-template>
                    
                </p-table>
                
            </div>
        </div>
    </div>
</div>