#contentPages {
    display: flex;
}

#change-view{
    display: flex;
}

.Viewbtn{
    margin-left: 5px;
}

#content {
    padding: 1%;
    overflow-y: auto;
    width: 100%;
    height: 95vh;
}
#page-wrapper {
    height: 100vh;
    overflow-y: auto;
}

@media (min-width: 960px) {
    :host  ::ng-deep .p-tag-fill span {
        width: max-content;
    }
}

@media (max-width: 960px) {
    :host  ::ng-deep .p-tag-fill span {
        width: 100%;
    }
}

.fill-td {
    text-align: center;
}

.table-header{
    display: flex;
    justify-content: flex-start;
}

.group-view{
    display: flex;
    justify-content: space-between;
}

.search{
    float: right;
    margin-left: auto;
    padding-inline: 10px;
}

:host ::ng-deep .search .p-input-icon-right input{
    max-width: 14rem;
}

th{
    text-align: center;
    border: 1px solid var(--surface-d);
    border-top: 0;
}
td{
    text-align: center;
}

.alignt-text-left {
    text-align: left;
}

.test :host ::ng-deep .p-progressbar-value {
    background-color: red;
}

:host ::ng-deep p-tag span {
    /* display: block; */
    width: 100% !important;
}

#tasks-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tasks-header thy-button {
    margin: 5px 0;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #4682B4;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Added border-color transition */
    border: 2px solid transparent;
}

#tasks-header thy-button:hover {
    background-color: #6495ED;
}

:host ::ng-deep .selected-button {
    background-color: rgb(16, 16, 94) !important;
}

#create-task-button {
    padding: 10px 20px;
    background-color: #32CD32;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Added border-color transition */
}

#create-task-button:hover {
    background-color: #2cb52c; /* Slightly adjusted darker green on hover */
}

:host ::ng-deep p-tag span.p-tag.p-component{
    background-color: #3B82F6;
}

:host ::ng-deep p-tag span.p-tag.p-component.p-tag-success{
    background-color: #22c55e;
}

:host ::ng-deep p-tag span.p-tag.p-component.p-tag-danger{
    background-color: #ef4444;
}

:host ::ng-deep p-tag span.p-tag.p-component.p-tag-warning{
    background-color: #f97316;
}

:host ::ng-deep p-tag span.p-tag.p-component.p-tag-info{
    background-color: #0ea5e9;
}