<div class="mt-6 mb-1 text-uppercase font-weight-bold">
  {{ 'issue-assignees.assignees' | translate }}
</div>

<div *ngFor="let assignee of assignees; let i = index">

  <div class="d-flex align-items-center items-center">
    <div class="info-section">
      <p-avatar
        [image]="UserImagePath(assignee?.username)"
        shape="circle"
        size="normal">
      </p-avatar>
      <span class="m-2">
        {{ assignee?.name }}
      </span>
      <span [class.is-online]="(presenceService.onlineUsers$ | async)?.includes(assignee!.username)">
        <i class="pi pi-user"></i>
      </span>
      <svg-icon (click)="removeUser(assignee?.id)"
        title="Remove user"
        [size]="20"
        [name]="'times'"
        class="text-textLight">
      </svg-icon>
    </div>
    <p-divider layout="vertical"></p-divider>

    <div class="progress-info">
      <p-progressBar class="progress-bar"
                     (click)="show(assignee?.id, assignee?.name ,valueList[i].completionLevel)"
                     [value]="valueList[i].completionLevel"
                     [pTooltip]="tooltipContent">
      </p-progressBar>
    </div>
  </div>

</div>

<ng-template #tooltipContent>
  <div class="flex align-items-center">
    <span> {{ 'issue-assignees.change-progress-info' | translate }} </span>
  </div>
</ng-template>

<a class="add-more" (click)="op.toggle($event)"
   style="font-size: 12.5px; cursor: pointer; display: flex; align-items: center; color: #0052cc;">
  <i class="mr-1"></i>
  {{ 'issue-assignees.add-assignee' | translate }}
</a>

<p-overlayPanel #op>
  <ng-template pTemplate="content">
    <ng-container *ngFor="let option of users">
      <div class="select-item"
           *ngIf="!isUserSelected(option)"
           (click)="addUserToIssue(option, op)">
        <div class="d-flex align-items-center items-center">
          <p-avatar
            [image]="UserImagePath(option?.username)"
            shape="circle"
            size="normal"
            [pTooltip]="option?.name">
          </p-avatar>
          <span class="m-2"> {{ option?.name }} </span>
        </div>
      </div>
    </ng-container>
  </ng-template>
</p-overlayPanel>
