.add-more:hover,
.add-more:visited,
.add-more:active {
  color: #0052cc;
}

.add-more:hover {
  text-decoration: underline;
}

.select-item {
  height: 2.5em
}

.select-item:hover {
  background-color: lightblue;
  cursor: pointer;
}

.info-section {
  width: 60%;
}

.progress-info {
  width: 40%;
}

@keyframes pi-blink {
  0% {opacity: 1;}
  100% {opacity: 0.4;}
}

.is-online {
  animation: pi-blink 1.5s linear infinite;
  color: rgb(1, 189, 42);
}
