.add-more:hover,
.add-more:visited,
.add-more:active {
  color: #0052cc;
}

.add-more:hover {
  text-decoration: underline;
}

.select-item {
  height: 2.5em
}

.select-item:hover {
  background-color: lightblue;
  cursor: pointer;
}
