<div class="mt-6 mb-1 text-uppercase text-muted font-weight-bold">
  Assignees
</div>

<div *ngFor="let assignee of assignees; let i = index">

  <div class="d-flex align-items-center items-center">
    <p-avatar
      [image]="UserImagePath(assignee?.username)"
      shape="circle"
      size="normal">
    </p-avatar>
    <span class="m-2">
      {{ assignee?.name }}
    </span>
    <div class="card flex justify-content-center" *ngIf="!isDisabled(assignee?.id)">
      <p-knob (click)="updateStatus()" [(ngModel)]="loggedInUserIdCompletionLevel" valueTemplate="{value}%"></p-knob>
    </div>
    <div class="card flex justify-content-center progress-bar-wrapper" *ngIf="isDisabled(assignee?.id)">
      <p-progressBar [value]="valueList[i].completionLevel"></p-progressBar>
    </div>
    <svg-icon (click)="removeUser(assignee?.id)"
              title="Remove user"
              [size]="20"
              [name]="'times'"
              class="text-textLight">
    </svg-icon>
  </div>

</div>

<a class="add-more" (click)="op.toggle($event)"
   style="font-size: 12.5px; cursor: pointer; display: flex; align-items: center; color: #0052cc;">
  <i class="mr-1"></i>
  Add Assignee
</a>

<p-overlayPanel #op>
  <ng-template pTemplate="content">
    <ng-container *ngFor="let option of users">
      <div class="select-item"
           *ngIf="!isUserSelected(option)"
           (click)="addUserToIssue(option, op)">
        <div class="d-flex align-items-center items-center">
          <p-avatar
            [image]="UserImagePath(option?.username)"
            shape="circle"
            size="normal"
            [pTooltip]="option?.name">
          </p-avatar>
          <span class="m-2"> {{ option?.name }} </span>
        </div>
      </div>
    </ng-container>
  </ng-template>
</p-overlayPanel>
