<div class="mt-6 mb-1 text-uppercase font-weight-bold">
  {{ 'issue-reporter.reporter' | translate }}
</div>
<p-button
  [text]="true"
  [raised]="canManageTask === 'True'"
  (click)="op.toggle($event)"
  [disabled]="canManageTask !== 'True'">

  <div class="d-flex align-items-center items-center">
    <p-avatar
      [image]="UserImagePath(reporter?.username)"
      shape="circle"
      size="normal"
      [pTooltip]="reporter?.name">
    </p-avatar>
    <span class="m-2">
      {{ reporter?.name }}
    </span>
  </div>
</p-button>

<p-overlayPanel #op>
  <ng-template pTemplate="content">
    <ng-container *ngFor="let option of users">
      <div class="select-item"
           *ngIf="!isUserSelected(option)"
           (click)="updateIssue(option, op)">
        <div class="d-flex align-items-center items-center">
          <p-avatar
            [image]="UserImagePath(option.username)"
            shape="circle"
            size="normal"
            [pTooltip]="option?.name">
          </p-avatar>
          <span class="m-2"> {{ option?.name }} </span>
        </div>
      </div>
    </ng-container>
  </ng-template>
</p-overlayPanel>
