<app-spinner></app-spinner>
<p-toast></p-toast>
<app-nav-bar></app-nav-bar>

<div id="page-wrapper">

  <div id="side">
    <app-project-sidebar [projectName]="projectName"></app-project-sidebar>
  </div>

  <div class="wrapper">

    <div id="tasks-header">
      <div id="add-task-div">
          <button id="create-task-button" (click)="showCreateTaskPopupTaskKanban()">
            {{ 'kanban-page.create-task' | translate }}
          </button>
      </div>

      <div id="change-view">
        <div class="Viewbtn">
          <thy-button routerLink="/home/projects/tasks/{{projectName}}" id="Viewbtn">
            {{ 'kanban-page.list-view' | translate }}
          </thy-button>
        </div>
        <div class="Viewbtn">
            <thy-button class="selected-button" id="Viewbtn">
              {{ 'kanban-page.kanban-view' | translate }}
            </thy-button>
        </div>
        <div class="Viewbtn">
            <thy-button routerLink="/home/projects/gantt/{{projectName}}" id="Viewbtn">
              {{ 'kanban-page.gantt-view' | translate }}
            </thy-button>
        </div>
      </div>
    </div>

    <div class="pr-5 py-7 pl-10 h-100 w-100 d-flex flex-column kan-board">
      <div class="kanban-filter">
        <board-filter [usersPhotos]="usersPhotos"></board-filter>
      </div>
      <board-dnd [usersPhotos]="usersPhotos"></board-dnd>
    </div>
  </div>

  <svg-definitions></svg-definitions>
</div>
