<app-spinner></app-spinner>
<p-toast></p-toast>

<div id="page-wrapper">
    
    <app-nav-bar></app-nav-bar>

    <div class="container">
        
        <div class="notification-center">
            
            <div class="header">
                <h1> {{ 'notifications-page.title' | translate }} </h1>
                <button id="mark-all-read" (click)="makeAllNotificationsAsRead()"> {{ 'notifications-page.delete-all' | translate }} </button>
            </div>

            <div class="unread-count">
                <span id="unread-count">
                    {{getNotifications.length}}
                </span> {{ 'notifications-page.unread-notifications' | translate }}
            </div>
            
            <div class="notifications">
                <div class="notification" *ngFor="let notification of getNotifications">
                    <div class="notification-header">
                        <p class="date">{{ notification.dateCreated | date:'medium' }}</p>
                        <button class="mark-read" (click)="markNotificationAsRead(notification.id)"> {{ 'notifications-page.delete' | translate }} </button>
                    </div>
                    <div class="content" [innerHTML]="getSafeHTML(notification.message)"></div>
                </div>
            </div>
            
        </div>

    </div>

</div>