@import "../../angular/node_modules/primeicons/primeicons.css";

@import '../../angular/node_modules/quill/dist/quill.core.css';
@import '../../angular/node_modules/quill/dist/quill.snow.css';

@import "@worktile/gantt/styles/index";

@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";



html, body {
    min-height: 100vh;  /* Ensures body fills minimum viewport height */
    margin: 0;         /* Remove default browser margins */
    overflow: hidden;
    font-family: var(--font-family);
    background-color: var(--surface-ground);
    color: var(--text-color);
}

ul{
    padding: 0; 
}