@import "../../angular/node_modules/primeicons/primeicons.css";

@import '../../angular/node_modules/quill/dist/quill.core.css';
@import '../../angular/node_modules/quill/dist/quill.snow.css';

html, body {
    min-height: 100vh;  /* Ensures body fills minimum viewport height */
    margin: 0;         /* Remove default browser margins */
    overflow: hidden;
}

ul{
    padding: 0; 
}