<div id="page" class="login">
    <div class="container">
        <p-toast position="top-center"  ></p-toast>
        <div class="login-container-wrapper clearfix">
            <div class="logo">
                <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i>
                <!-- <i class="fa fa-sign-in"></i> -->
            </div>
            
            <!-- Welcome message -->
            <div class="welcome">
                <strong>Welcome,</strong> please enter email to reset Your password
            </div>
            <!-- End of Welcome message -->

            <form class="form-horizontal login-form" #loginForm="ngForm" (ngSubmit)="forgot_pass()" autocomplete="off">
                
                <!-- Input email -->
                <div class="form-group relative">
                    <input
                        name="email"
                        id="login_email" 
                        class="form-control input-lg" 
                        type="email" 
                        placeholder="syncatechpmf@domain.com" 
                        [(ngModel)]="user.email"
                        (ngModelChange)="validateEmail(user.email)"
                        spellcheck="false"
                        required
                        autocomplete="off">
                    <i class="fa fa-user"></i>
                </div>
                <!-- End of Input email -->
                
                <!-- Optional options -->
                <div class="checkbox pull-left">
                    <span> <a id="mailto_link" class="forget" href="mailto: syncatech@hotmail.com?Subject=Problems with login" title="Contact us">Need help with login?</a> </span>
                </div>

                <!-- Submit button -->
                <div id="login-btn-div" class="form-group">
                    <!-- <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="loginForm.invalid">Login</button> -->
                    <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!emailValid || loginForm.invalid">Reset password</button>
                </div>
                <!-- End of Submit button -->

            </form>
        </div>
    </div>
</div>