.content-readonly {
    position: relative;
    min-height: 50px;
    cursor: pointer;
    width: 90%;
}
.content-readonly .icon-edit {
    font-weight: 400;
    display: none;
    position: absolute;
    right: 3px;
    top: 3px;
}
.content-readonly:hover {
    box-shadow: none;
    border: none;
    background-color: var(--surface-ground);
}
.content-readonly:hover .icon-edit {
    display: block;
}
.content-readonly .ql-editor {
    padding: 0 !important;
    font-size: 15px;
}
.ql-editor {
    height: auto !important;
    pointer-events: none;
}
.ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
    font-weight: 500;
    margin-bottom: 10px;
}
.ql-editor img, .ql-editor video {
    display: inline-block;
}
.ql-editor ul {
    padding-left: 0.5rem;
}

.content-editor{
    width: 90%;
}

.content-editor .ql-toolbar {
    border-radius: 4px 4px 0px 0px !important;
    border: 1px solid #dfe1e6 !important;
    border-bottom: none !important;
}
.content-editor .ql-container.ql-snow {
    height: auto !important;
    color: #172b4d;
    font-size: 15px;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #dfe1e6;
    border-top: none;
}

:host ::ng-deep #description .ql-align-left {
    text-align: left;
}

:host ::ng-deep #description .ql-align-right {
    text-align: right;
}

:host ::ng-deep #description .ql-align-center{
    text-align: center;
}

:host ::ng-deep #description .ql-align-justify{
    text-align: justify;
}

:host ::ng-deep #description pre[data-language="plain"] {
    background-color: #333;
    border: 1px solid #333; 
    padding: 10px;           
    font-family: monospace;  
    font-size: 14px;         
    color: #f5f5f5;            
    white-space: pre-wrap;   
}

:host ::ng-deep #description ul{
    list-style-type: circle;
}

.ql-editor ul {
    padding-left: 0.5rem;
}

:host ::ng-deep #description ul {
    list-style-type: circle;
    padding-left: 0.5rem;
}