.wrapper{
    display: flex;
}

.content{
    display: contents;
}

.display-block {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 20px;
    
    width: 82%;
    height: 80vh;
}

:host ::ng-deep .gantt-bar-content-progress {
    z-index: -1;
    background-color: green;
}

:host ::ng-deep .empty-text {
    display: none;
}

:host ::ng-deep .empty-icon {
    display: none;
}