.wrapper{
    display: flex;
}

#change-view{
    display: flex;
}

.Viewbtn{
    margin-left: 5px;
}

.content{
    padding: 1%;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 80vh;
}

:host ::ng-deep .gantt-bar-content-progress {
    z-index: -1;
    background-color: green;
}

:host ::ng-deep .empty-text {
    display: none;
}

:host ::ng-deep .gantt-expand-icon {
    background-color: red;
    display: none !important;
}

:host ::ng-deep .btn-group-outline-default thy-button:hover {
    background-color: lightblue;
    border: 1px solid black;
}

:host ::ng-deep .btn-group-outline-default .active {
    background-color: lightblue;
}

:host ::ng-deep .thy-btn[thytype="primary"] {
    background-color: lightblue;
    color: black;
}

#tasks-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tasks-header thy-button {
    margin: 5px 0;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #4682B4;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Added border-color transition */
    border: 2px solid transparent;
}

#tasks-header thy-button:hover {
    background-color: #6495ED;
}

:host ::ng-deep .selected-button {
    background-color: rgb(16, 16, 94) !important;
}

#create-task-button {
    padding: 10px 20px;
    background-color: #32CD32;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Added border-color transition */
}

#create-task-button:hover {
    background-color: #2cb52c; /* Slightly adjusted darker green on hover */
}

:host ::ng-deep .group-title {
    font-weight: bold;
}

:host ::ng-deep .gantt-table-scrollbar {
    opacity: 0;
}