.wrapper{
    display: flex;
}

.content{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 80vh;
}

:host ::ng-deep .gantt-bar-content-progress {
    z-index: -1;
    background-color: green;
}

:host ::ng-deep .empty-text {
    display: none;
}

:host ::ng-deep .gantt-expand-icon {
    background-color: red;
    display: none !important;
}

:host ::ng-deep .btn-group-outline-default thy-button:hover {
    background-color: lightblue;
    border: 1px solid black;
}

:host ::ng-deep .btn-group-outline-default .active {
    background-color: lightblue;
}

:host ::ng-deep .thy-btn[thytype="primary"] {
    background-color: lightblue;
    color: black;
}

#tasks-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tasks-header thy-button {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0px;
}

#change-view thy-button:hover {
    background-color: cadetblue;
    border: 1px solid black;
}

.selected-button {
    background-color: cadetblue;
    border: 1px solid black;
}