<div id="contentPages">
    <div id="sideNavBar">
        <app-admin-sidebar></app-admin-sidebar>
    </div>

    <div id="content">

        <!-- Za obavestenja -->
        <p-toast></p-toast>
        
        <div id="description">
            <h4>Platform members</h4>
            You can invite a new member to your platform by creating their account.
        </div>

        <div id="controls">
            <!-- Dodati polja za search, filter etc. -->
            <app-register-user id="register-user-button" (userCreated)="onUserCreated($event)"></app-register-user>
        </div>

        <div id="users">
            <div class="mb-1">
                <p-button 
                    type="button" icon="pi pi-chevron-left" (click)="prev()" 
                    [disabled]="isFirstPage()"styleClass="p-button-text"></p-button>
                <p-button type="button" icon="pi pi-refresh" (click)="reset()" 
                    styleClass="p-button-text"></p-button>
                <p-button type="button" icon="pi pi-chevron-right" (click)="next()"
                    [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
            </div>
            <p-table
                #dt2
                [value]="users"
                dataKey="username"
                [globalFilterFields]="['username']"
                [paginator]="true"
                [rows]="5"
                [first]="first"
                [rowsPerPageOptions]="[5, 10, 25, 50]"
                [showCurrentPageReport]="true"
                (onPage)="pageChange($event)"
                currentPageReportTemplate="Showing {first} to {last} of {{users.length}} entries"
                [tableStyle]="{'width': '100%'}"
                responsiveLayout="stack" [breakpoint]="'960px'"
                styleClass="p-datatable-striped">
                
                <ng-template pTemplate="caption" class="align-content-center justify-content-around">
                    <div id="header-content" class="flex">
                        <div class="exportFileOptions">
                            <button type="button" pButton pRipple icon="pi pi-file-excel" 
                                (click)="exportExcel()"  class="p-button-success mr-2" 
                                pTooltip="XLS" tooltipPosition="bottom" title="Export as Excel"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" 
                                (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" 
                                tooltipPosition="bottom" title="Export as PDF"></button>
                        </div>

                        <div class="filterTableOptions">
                            <!-- <button
                                pButton label="Clear"
                                class="p-button-outlined"
                                icon="pi pi-filter-slash" (click)="clear(dt2)">
                            </button> -->
                        
                            <div class="p-input-icon-left ml-auto">
                                <!-- <i class="pi pi-search"></i> -->
                                <!-- <input pInputText id="search-input-term-users-global" 
                                    #searchInput type="text" (input)="search(dt2)" 
                                    placeholder="Search keyword"/> -->

                                <input pInputText [(ngModel)]="searchTerm" (input)="search()" placeholder="Search keyword"/>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th>Account</th>
                        <th>Email address</th>
                        <th>Company role</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td><span class="p-column-title" style="font-weight: bold;">Account</span>
                            <div class="profilecontent">
                                <img *ngIf="1==1; else secondImageSource"
                                src={{getDefaultImagePath()}} alt="user-default-image">
                                <ng-template #secondImageSource>
                                    <img src="{{getDefaultImagePath()}}" alt="user-image">
                                </ng-template>
                                <span>{{ user.username }}</span>
                            </div>
                        </td>
                        <td><span class="p-column-title" style="font-weight: bold;">Email</span>
                            <a href="mailto:{{user.email}}"> {{user.email}}</a>
                        </td>
                        <td>
                            <span class="p-column-title" style="font-weight: bold;">Company role</span>
                            {{ user.companyRoleName }}
                        </td>
                        <td>
                            <span class="p-column-title" style="font-weight: bold">Actions</span>
                            <div class="flexdiv-custom">
                                <div class="action">
                                    <p-toast></p-toast>
                                    <p-confirmDialog></p-confirmDialog>
                                    <div class="deleteBtn">
                                        <button type="button" pButton pRipple icon="pi pi-trash" 
                                            (click)="deleteUser(user.username, $event)"  class="p-button-danger mr-2" 
                                            tooltipPosition="bottom"></button>
                                    </div>
                                </div>

                                <div class="action">
                                    <span class="pi pi-pencil" title="Edit user"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>