<app-spinner></app-spinner>

<div id="contentPages">
    <div id="sideNavBar">
        <app-admin-sidebar></app-admin-sidebar>
    </div>

    <div id="content">

        <!-- Za obavestenja -->
        <p-toast></p-toast>
        <p-confirmDialog></p-confirmDialog>
        
        <div id="description">
            <h2 style="display: inline-block;">Create and Manage Accounts</h2>
            <div id="controls" style="float: right;">
                <app-register-user id="register-user-button" (userCreated)="onUserCreated($event)"></app-register-user>
            </div>
        </div>

        

        <div id="users">
            <!-- Table start -->
            <p-table
                #dt2
                [value]="users"
                dataKey="username"
                [globalFilterFields]="['username']"
                [paginator]="true"
                [rows]="5"
                [first]="first"
                [totalRecords]="totalRecords"
                [rowsPerPageOptions]="[5, 10, 25, 50]"
                [showCurrentPageReport]="true"
                (onPage)="pageChange($event)"
                currentPageReportTemplate="Showing {first} to {last} of {{totalRecords}} entries"
                [tableStyle]="{'width': '100%'}"
                responsiveLayout="stack" [breakpoint]="'960px'"
                styleClass="p-datatable-striped"
                [lazy]="true"
                (onLazyLoad)="loadUsers($event)" 
                sortMode="multiple"
                >
                
                <!-- 
                    Opcije za export dokumenata
                    Filteri
                 -->
                <ng-template pTemplate="caption" class="align-content-center justify-content-around">
                    <div id="header-content" class="flex">

                        <!-- Dugmici za exportovanje fajlova -->

                        <div class="exportFileOptions">
                            <button type="button" pButton pRipple icon="pi pi-file-excel" 
                                (click)="exportExcel()"  class="p-button-success mr-2" 
                                pTooltip="XLS" tooltipPosition="bottom" title="Export as Excel"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" 
                                (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" 
                                tooltipPosition="bottom" title="Export as PDF"></button>
                        </div>

                        <!-- Search i Active user filter -->
                            
                            <div id="deactive-users-option-div">
                                <input id="checkbox-deactivated-user" type="checkbox" (click)="showDeactivated(true)" > 
                                <label for="checkbox-deactivated-user" style="margin-left: 1%;">Deactivated Users</label>
                            </div>

                            <div class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input id="search-users-by-username" pInputText [(ngModel)]="searchTerm" (input)="search()" placeholder="Search keyword"/>
                            </div>
                    </div>
                </ng-template>
                <!-- End -->

                <!-- Table header -->
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="username">
                            Account
                            <p-sortIcon field="username"></p-sortIcon>
                            <p-columnFilter type="text" field="username" display="menu"></p-columnFilter>
                        </th>
                        <th pSortableColumn="email">
                            Email address
                            <p-sortIcon field="email"></p-sortIcon>
                            <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
                        </th>
                        <th pSortableColumn="companyRoleName">
                            Company role
                            <p-sortIcon field="companyRoleName"></p-sortIcon>
                            <p-columnFilter field="companyRoleName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                <ng-template pTemplate="header">
                                    <div class="px-3 pt-3 pb-0">
                                        <span class="font-bold">Company role</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="filter" let-user let-value let-filter="filterCallback" >
                                    <p-multiSelect [ngModel]="value" [options]="roles$" placeholder="Any" (onChange)="filter($event.value)">
                                        <ng-template let-user let-option pTemplate="item" >
                                            <div class="inline-block vertical-align-middle">
                                                <span class="ml-1 mt-1">{{ option }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th pSortableColumn="createdAt">
                            Created
                            <p-sortIcon field="createdAt"></p-sortIcon>
                            <p-columnFilter type="date" field="createdAt" display="menu">
                                <ng-template pTemplate="filter" let-filter="filterCallback">
                                    <p-calendar dateFormat="dd/mm/yy" (onSelect)="filter($event)"></p-calendar>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th pSortableColumn="updatedAt">
                            Updated
                            <p-sortIcon field="updatedAt"></p-sortIcon>
                            <p-columnFilter type="date" field="updatedAt" display="menu">
                                <ng-template pTemplate="filter" let-filter="filterCallback">
                                    <p-calendar dateFormat="dd/mm/yy" (onSelect)="filter($event)"></p-calendar>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <!-- End of table header -->

                <!-- Table body -->
                <ng-template pTemplate="body" let-user>
                    <tr [ngClass]="{'active-user' : user.isActive, 'inactive-user': !user.isActive}">
                        <td>
                            <span class="p-column-title" style="font-weight: bold;">Account</span>
                            <div class="profilecontent">
                                <img draggable="false" *ngIf="1==1; else secondImageSource"
                                src={{getUserImagePath(user.username)}} alt="user-default-image">
                                <ng-template #secondImageSource>
                                    <img src="{{getUserImagePath(user.username)}}" alt="user-image">
                                </ng-template>
                                <span style="margin-left: 8px;" >{{ user.username }}</span>
                            </div>
                        </td>

                        <td>
                            <span class="p-column-title" style="font-weight: bold;">Email</span>
                            <a href="mailto:{{user.email}}"> {{user.email}}</a>
                        </td>

                        <td>
                            <span class="p-column-title" style="font-weight: bold;">Company role</span>
                            {{ user.companyRoleName }}
                        </td>

                        <td>
                            <span class="p-column-title" style="font-weight: bold;">Created</span>
                            {{ getPrettierDate(user.createdAt) }}
                        </td>

                        <td>
                            <span class="p-column-title" style="font-weight: bold;">Updated</span>
                            {{ getPrettierDate(user.updatedAt) }}
                        </td>

                        <td>
                            <span class="p-column-title" style="font-weight: bold;">Status</span>
                            <div class="username-online" *ngIf="(presenceService.onlineUsers$ | async)?.includes(user.username)">
                                <span style="color: green;">Online</span>
                            </div>
                            <div class="username-offline" *ngIf="!(presenceService.onlineUsers$ | async)?.includes(user.username)">
                                <span>Offline</span>
                            </div>
                        </td>

                        <td>
                            <span class="p-column-title" style="font-weight: bold">Actions</span>
                            <div class="flexdiv-custom">
                                
                                <div *ngIf="user.companyRoleName !== 'Administrator'" class="action">
                                    <div class="deleteBtn">
                                        <button [ngClass]="{'active p-button-success': user.isActive, 'inactive p-button-danger': !user.isActive}" 
                                            type="button" pButton pRipple 
                                            [icon]="user.isActive ? 'fa-solid fa-lock-open' : 'fa-solid fa-lock'" 
                                            (click)="deleteUser(user.username, $event)"  
                                            tooltipPosition="bottom"
                                            [title]="user.isActive ? 'Deactivate account' : 'Activate account'">
                                        </button>
                                    </div>
                                </div>
                                
                                <div class="action">
                                    <div class="editUser">
                                        <button type="button" class="pi pi-pencil" data-bs-toggle="modal"
                                            data-bs-target="#modalEditInfo" data-whatever="@user"
                                            id="buttonUser_{{user.username}}"
                                            (click)="showModalForUser(user)"
                                            title="Edit record"
                                        ></button>    
                                    </div>
                                </div>

                                <div class="action">
                                    <div class="resend-activation-link">
                                        <button type="button" class="pi pi-envelope"
                                            (click)="resendActivationLink(user)">
                                        </button>
                                    </div>
                                </div>
                                
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <!-- End table body -->
            </p-table>
            <!-- Table end -->
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modalEditInfo" tabindex="-1" aria-labelledby="modalEditInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            
            <!-- Form Header -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditInfoLabel">Edit user information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- End of Form Header -->

            <!-- Form body -->
            <div class="modal-body">
                <div class="div-image">
                    <img draggable="false" class="user-image" src="" alt="User image">
                </div>
                <div class="form">
                    <form #updateUserInfoForm="ngForm" id="formEditUserInfo" class="row g-3" autocomplete="off" style="margin-bottom: 10%;">

                        <div class="col-md-6"> <!-- field za ime-->
                            <div class="form-floating mb-3">
                                <input 
                                    type="text"
                                    name="firstName"
                                    class="firstName form-control required-field"
                                    placeholder="John"
                                    [(ngModel)]="editUser.firstName"
                                    required
                                    spellcheck="false"
                                >
                                <label for="firstName" class="form-label">First Name</label>
                            </div>
                        </div>
    
                        <div class="col-md-6"> <!-- field za prezime-->
                            <div class="form-floating mb-3">
                                <input 
                                    type="text"
                                    name="lastName"
                                    class="lastName form-control required-field"
                                    placeholder="Doe"
                                    [(ngModel)]="editUser.lastName"
                                    required
                                    spellcheck="false"
                                >
                                <label for="lastName" class="form-label">Last Name</label>
                            </div>
                        </div>
    
                        <div class="col-12"> <!-- field za email-->
                            <div class="form-floating mb-3">
                                <input
                                    type="email"
                                    id="input-email"
                                    name="input-email"
                                    class="email form-control required-field"
                                    placeholder="syncatechpmf@domain.com"
                                    [(ngModel)]="editUser.email"
                                    (change)="emailFormatCheck(editUser.email)"
                                    required
                                    autocomplete="off"
                                    spellcheck="false"
                                >
                                <label for="input-email" class="form-label">Email</label>
                            </div>
                        </div>
    
                        <div class="col-12"> <!-- field za username-->
                            <div class="form-floating mb-3">
                                <input
                                    #input_username
                                    type="text"
                                    name="username"
                                    class="username form-control required-field"
                                    placeholder="username"
                                    [(ngModel)]="editUser.username"
                                    required
                                    autocomplete="off"
                                    spellcheck="false"
                                >
                                <label for="input-username" class="form-label">Username</label>
                            </div>
                        </div>
    
                        <div class="col-12"> <!-- field za companyRole-->
                            <div class="form-floating mb-3">
                                <select id="companyRoleName" class="companyRoles form-select" [(ngModel)]="editUser.companyRoleName" aria-label="companyRoleId" name="companyRoleName">
                                    <option *ngFor="let role of roles$" value="{{role}}">{{role}}</option>
                                </select>
                                <label for="companyRoleId" class="form-label">Company Role</label>
                            </div>
                        </div>
    
                        <div class="col-12"> <!-- field za adresu -->
                            <div class="form-floating mb-3">
                                <input
                                    type="text"
                                    name="address"
                                    id="address-input"
                                    class="address form-control required-field"
                                    placeholder="Address"
                                    [(ngModel)]="editUser.address"
                                    required
                                    autocomplete="off"
                                    spellcheck="false"
                                    >
                                <label for="address-input" class="form-label">Address</label>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
            <!-- End of form body -->

            <!-- Form footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="updateUserInfoForm" class="btn btn-primary" data-bs-dismiss="modal" (click)="applyEditChanges()">Apply changes</button>
            </div>
            <!-- End of form footer -->

        </div>
    </div>
</div>
<!-- End of modal -->