<div id="invalid_register_div" class="alert alert-warning alert-dismissible fade show" role="alert" hidden style="position: fixed; width: 100%; top: 0px">
    <strong>Invalid user registration</strong> Please fill all of the required fields correctly.
    <button id="close_warning_button" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="close_invalid_register_popup()" title="Hide"></button>
</div>

<div id="page">
    <div id="head-container">
        <div id="head">
            <div id="logo">
                <h1 id="text">ProjSync</h1>
                <p id="text">Admin corner</p>
            </div>
        </div>

        <div id="selection" style="margin-bottom: 5%;">
            <app-register-user></app-register-user>
            <button id="btnr" class="btn btn-primary" (click)="showhiddenRole()">Create role</button>
        </div>

        <div>
            <app-create-role *ngIf="visibleRole"></app-create-role>
        </div>
    </div>

</div>