#text{
    text-align: center;
}
#logo{
    margin: auto;
    margin-top: 5%;
}

#btnr{
    
    margin-left: 10%;

}

#selection{
    text-align: center;
    margin-top: 5%;
}

#contentPages div {
    margin: 0% 10% 0% 10%;
}