<button id="createProjectButton" type="button" class="btn btn-primary" (click)="initializeProjects()" data-bs-toggle="modal" data-bs-target="#createProjectModal">
    {{ 'create-project-modal.title' | translate }}
</button>

<div class="modal fade" id="createProjectModal" tabindex="-1" aria-labelledby="createProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createProjectModalLabel"> {{ 'create-project-modal.title' | translate }} </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form  #createProjectForm="ngForm" (ngSubmit)="create()" id="formCreateProject" class="row g-3" autocomplete="off" style="margin-bottom: 10%;">

                    <div class="col-12">
                        <div class="form-floating mb-3">
                        <input 
                            type="text"
                            id="name"
                            name="name"
                            class="form-control"
                            placeholder="Name"
                            [(ngModel)]="creationModel.name"
                            required
                            autocomplete="off"
                            spellcheck="false"
                            >
                            <label for="name" class="form-label"> {{ 'create-project-modal.name' | translate }} </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-floating mb-3">
                        <input 
                            type="key"
                            id="key"
                            name="key"
                            class="form-control"
                            placeholder="TC"
                            [(ngModel)]="creationModel.key"
                            required
                            spellcheck="false"
                            >
                            <label for="key" class="form-label"> {{ 'create-project-modal.key' | translate }} </label>
                        </div>
                    </div>

                    <div class="col-12"> 
                        <div class="form-floating mb-3">
                            <select id="type" class="form-select" aria-label="type" [(ngModel)]="creationModel.typeName" name="type">
                                <option *ngFor="let type of projectTypes" value="{{type.name}}">{{type.name}}</option>
                            </select>
                            <label for="type" class="form-label"> {{ 'create-project-modal.type' | translate }} </label>
                        </div>
                    </div>
    
                    <div class="col-12">
                        <quill-editor class="content-editor"
                        id="description"
                        name="description"
                        [placeholder]="'create-project-modal.description-placeholder' | translate"
                        [(ngModel)]="creationModel.description"
                        spellcheck="false"
                        >
                        </quill-editor>
                    </div>
                    
                    <div class="col-12">
                        <div class="form-floating mb-3">
                        <input 
                            type="date"
                            id="startDate"
                            name="startDate"
                            class="form-control"
                            [(ngModel)]="creationModel.creationDate"
                            required
                            >
                            <label for="startDate" class="form-label"> {{ 'create-project-modal.start-date' | translate }} </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-floating mb-3">
                        <input 
                            type="date"
                            id="dueDate"
                            name="dueDate"
                            class="form-control"
                            [(ngModel)]="creationModel.dueDate"
                            required
                            >
                            <label for="dueDate" class="form-label"> {{ 'create-project-modal.due-date' | translate }} </label>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <div class="form-floating mb-3">
                        <input 
                            type="number"
                            id="budget"
                            name="budget"
                            class="form-control"
                            placeholder="100000.00"
                            [(ngModel)]="creationModel.budget"
                            required
                            min="0"
                            >
                            <label for="budget" class="form-label"> {{ 'create-project-modal.budget' | translate }} </label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> {{ 'create-project-modal.close' | translate }} </button>
                <button id="submitProjectButton" type="submit" form="formCreateProject" class="btn btn-primary" data-bs-dismiss="modal"> {{ 'create-project-modal.create' | translate }} </button>
            </div>
            
        </div>
    </div>
</div>
