:host ::ng-deep .content-editor .ql-editor {
    height: 8rem;
    overflow-y: auto;

}

:host ::ng-deep .content-editor .ql-link,
:host ::ng-deep .content-editor .ql-video,
:host ::ng-deep .content-editor .ql-image {
    display: none;
}

:host ::ng-deep .content-editor{
    font-weight: normal;
}

.modal-content{
    background-color: var(--surface-card);
}

.modal-content input, select{
    background-color: var(--surface-card);
    color: var(--text-color);
    border-color: var(--surface-d);
}

.form-floating label::after{
    background-color: transparent !important;
}
.form-floating label{
    color: var(--text-color);
}

#createProjectButton,#submitProjectButton{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
#createProjectButton:hover,#submitProjectButton:hover{
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.form-control:focus,select:focus{
    box-shadow: var(--focus-ring);
}
