<!--<div class="type-dropdown">-->
<!--    <p-dropdown-->
<!--        [options]="issueTypes"-->
<!--        [(ngModel)]="selectedissueType"-->
<!--        optionLabel="value"-->
<!--        [showClear]="false"-->
<!--        placeholder={{selectedissueType}}>-->
<!--        <ng-template let-issueType pTemplate="item">-->

<!--            <div class="item-drop1">-->
<!--                <div class="flex items-center">-->
<!--                    <svg-icon [name]="issueType.icon" [size]="20">-->
<!--                    </svg-icon>-->
<!--                    <span class="ml-3 font-semibold uppercase text-textMedium text-13">{{ issueType.value }}</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </ng-template>-->
<!--    </p-dropdown>-->
<!--</div>-->



<div class="mt-6 mb-1 text-uppercase text-muted font-weight-bold">
  Type
</div>

<p-button
  [text]="true"
  label="{{ issue.type }}-{{issue.id}}"
  (click)="op.toggle($event)">
</p-button>

<p-overlayPanel #op>
  <ng-template pTemplate="content">
    <ng-container *ngFor="let option of issueTypes">
      <div class="select-item"
           *ngIf="!isTypeSelected(option.value)"
           (click)="updateIssue(option.value, op)">
        <div class="flex items-center">
          <svg-icon [name]="option.icon"
                    [size]="20">
          </svg-icon>
          <span class="ml-3 font-semibold uppercase text-textMedium text-13">{{ option.value }}</span>
        </div>
      </div>
    </ng-container>
  </ng-template>
</p-overlayPanel>
