<p-toast></p-toast>
<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : '' ">
    <!-- Header od sidenav -->
    <div class="logo-container">
        <div id="image-title">
            <img id="projectImage" class="logo" (click)="toggleCollapse()"
            [src]="projectImageSource != null ? projectImageSource : defaultImagePath">
            <div class="logo-header" *ngIf="collapsed">
                <span class="logo-text">{{ getProjectName() }}</span><br>
                <span>Key: {{ projectKey }}</span>
            </div>
        </div>
        <button class="button-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fa-solid fa-angle-left"></i>
        </button>
    </div>

    <!-- Linkovi -->
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" 
               [routerLink]="data.label === 'Create task' ? null : [data.routeLink + projectName]"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact:true}"
               (click)="handleNavigation(data.label)" style="cursor: pointer;">
                <i [class]="data.icon" class="sidenav-link-icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ data.label }}</span>
            </a>
        </li>
    </ul>    
</div>