<app-spinner></app-spinner>

<div id="container-wrapper" class="container">
    <form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Issue group</p>
        <div class="issue-group-wrapper">
            <p-dropdown [options]="groupsOnProject" optionLabel="name" formControlName="issue-group" placeholder="Select issue group" class="input-size dropdown-groups" [showClear]="true"></p-dropdown>

            <p-button label="Add new group" [outlined]="true" severity="success" class="add-new-group" (onClick)="showCreateGroupPopUp()"></p-button>
        </div>

        <p>Issue name</p>
        <input type="text" formControlName="issue-name" pInputText class="input-size" placeholder="Enter issue name" spellcheck="false"/>


        <p>Issue type</p>
        <p-dropdown formControlName="issue-type" [options]="issueTypes" optionLabel="value" placeholder="Select issue type" class="input-size" [showClear]="true">
        <ng-template let-type pTemplate="selectedItem">
            <svg-icon [name]="type.icon"
                    [size]="20"
                    [style.color]="type.color">
            </svg-icon>
            <span>{{ type.value }}</span>
        </ng-template>
        <ng-template let-type pTemplate="content">
            <svg-icon [name]="type.icon"
                    [size]="20"
                    [style.color]="type.color">
            </svg-icon>
            <span>{{ type.value }}</span>
        </ng-template>
        </p-dropdown>

        <p>Issue priority</p>
        <p-dropdown [options]="priorities"  optionLabel="value" formControlName="issue-priority" placeholder="Select issue priority" class="input-size" [showClear]="true">
            <ng-template let-priority pTemplate="selectedItem">
                <svg-icon [name]="priority.icon"
                        [size]="20"
                        [style.color]="priority.color">
                </svg-icon>
                <span>{{ priority.value }}</span>
            </ng-template>

            <ng-template let-priority pTemplate="content">
                <svg-icon [name]="priority.icon"
                        [size]="20"
                        [style.color]="priority.color">
                </svg-icon>
                <span>{{ priority.value }}</span>
            </ng-template>
        </p-dropdown>

        <p>Issue status</p>
        <p-dropdown formControlName="issue-status" optionLabel="name" [options]="issueStatus" placeholder="Select issue status" class="input-size" [showClear]="true"></p-dropdown>

        <p>Description</p>
        <ng-container *ngIf="true">
            <quill-editor class="content-editor"
                          formControlName="issue-description"
                          [placeholder]="'Enter description'"
                          >
            </quill-editor>
        </ng-container>

        <div class="calendar-wrapper">
            <div class="created-date">
                <p>Started Date</p>
                <p-calendar formControlName= "issue-create-date" [showIcon]="true" class="date1" placeholder="dd/mm/yyyy"></p-calendar>
            </div>

            <div class="due-date">
                <p>Due Date</p>
                <p-calendar formControlName= "issue-due-date" [showIcon]="true" class="date2" placeholder="dd/mm/yyyy"></p-calendar>
            </div>
        </div>

        <p>Reporter</p>
        <p-dropdown
            formControlName="issue-reporter"
            [options]="users" optionLabel="username"
            placeholder="Select reporter"
            class="input-size"
            [showClear]="true">
            <ng-template let-user pTemplate="selectedItem">
                <div class="profilecontent">
                    <img id="image_{{user.username}}" draggable="false" src={{getUserImagePath(user.username,users)}} alt="user-default-image">
                    <span>{{ user.username }}</span>
                </div>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <div class="profilecontent">
                    <img id="image_{{user.username}}" draggable="false" src={{getUserImagePath(user.username,users)}} alt="user-default-image">
                    <span>{{ user.username }}</span>
                </div>
            </ng-template>
        </p-dropdown>

        <p>Assigned</p>
        <p-multiSelect [options]="users" formControlName="issue-assigner" placeholder="Select a assignee" optionLabel="username" class="multi-select-dropdown">
            <ng-template let-user pTemplate="item">
                <div class="profilecontent">
                    <img id="image_{{user.username}}" draggable="false" src={{getUserImagePath(user.username,users)}} alt="user-default-image">
                    <span>{{ user.username }}</span>
                </div>
            </ng-template>
        </p-multiSelect>

        <div class="btns">
            <button type="submit" pButton pRipple label="Submit" class="p-button-primary"></button>
            <p-button label="Close" severity="secondary" (click)="closeModal('exited')"></p-button>
        </div>
    </form>
</div>
