@import "primeng/resources/themes/lara-light-green/theme.css";

:root {
    --default-color: #263238;
    --color-value-1: #d8dde6;
    --color-value-2: #bcd0f5;
    --side-bar-link: black;
    --chat-header: color-mix(in srgb, var(--primary-color), #fff 60% );
    --sent-msg-background:  lightgreen;
    --primary-color-hover: #059669;
}

