@import "primeng/resources/themes/lara-dark-amber/theme.css";

:root {
    --default-color: #263238;
    --color-value-1: #363c46;
    --color-value-2: #bcd0f5;
    --side-bar-link: white;
    --chat-header: color-mix(in srgb, var(--primary-color), #000 60% );
    --sent-msg-background:  rgb(18, 85, 18);
    --primary-color-hover: #fcd34d;
}

