<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>

<div id="pageWraper">
    <app-nav-bar></app-nav-bar>
    <div id="contentPages">
        <app-project-sidebar [projectName]="projectName"></app-project-sidebar>

        <div class="content">
            
            <!-- Upload container -->
            <div class="upload-container">
                <div class="dropzone">
                    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="onFileSelected($event)">
                    <span>Drag files or click to upload</span>
                </div>
            </div>
            <!-- End of upload container -->
            <div id="progress-bar-div">
                <p-progressBar [hidden]="!showUploadProgressBar" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
            </div>


        </div>

    </div>
</div>
