<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<div id="pageWraper">
    <app-nav-bar></app-nav-bar>
    <div id="contentPages">
        <app-project-sidebar [projectName]="projectName"></app-project-sidebar>

        <div class="content">
            <div id="left-side" >
                <h1 id="Name">{{project.name}}</h1>
                <button data-bs-toggle="modal" data-bs-target="#modalAddDocument" class="btn btn-primary">
                         Upload File
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddDocument" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Form Header -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add new documents to the project</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <!-- End of Form Header -->
            
            <!-- From Body -->
            <!-- <div class="modal-body"> -->
            <!-- File upload From HTML (Hidden) -->

                <!-- <input type="file" class="file-input"
                (change)="onFileSelected($event)" #fileUpload> -->

                <!-- End of Hidden element -->
                
                <!-- Custom File Upload Button -->
                <!-- <div class="file-upload">
                    {{this.fileName || "No file uploaded yet."}}

                    <button  class="btn btn-outline-primary"
                    (click)="fileUpload.click()">

                        <i class="pi pi-paperclip"></i>

                    </button>
                
                </div> -->
            <!-- End of Custom Button -->

            <p style="margin: 3%; font-size: 30px;">Document Upload</p>
            <div class="dropzone" >
                <button>
                    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="onFileSelected($event)">
                    <i class="pi pi-upload"></i>
                    <h3>Drag your files here or click to upload</h3>
                </button>
                

            </div>
            <!-- End of Form -->
            <!-- </div> -->
            
        </div>
    </div>

</div>