#contentPages {
  display: flex;
}

.content {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding: 2%;
  color: var(--text-color);
}

#document-space {
  margin-top: 1%;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: var(--surface-card);
  color: var(--text-color);
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 18px;
  margin-bottom: 5px;
}

.date {
  font-size: 14px;
  margin-bottom: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.preview-btn,
.download-btn,
.show-older-btn,
.delete-btn {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #1e90ff;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: darkblue;
}

.download-btn {
  margin-left: 5px;
}

.show-older-btn {
  margin-left: 5px;
}

.delete-btn {
  margin-left: 5px;
  background-color: rgb(185, 58, 58);
}

.delete-btn:hover {
  background-color: darkred;
}

.preview-btn {
  background-color: rgb(231, 175, 71);
}

.preview-btn:hover {
  background-color: darkorange;
}

.older-versions {
  margin-top: 10px;
  width: 100%;
}

.older-version {
  text-align: left;
  margin-top: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.document-icon {
  width: 36px;
  height: 36px;
  margin-bottom: 10px;
}

.older-title {
  text-decoration: underline;
  font-weight: 500;
}

.older-title:hover {
  color: red;
  cursor: pointer;
}

.show-older-span {
  text-decoration: underline;
  cursor: pointer;
}

.show-older-span:hover {
  color: red;
}

.search {
  margin-top: 1%;
}

.older-version-buttons button {
  cursor: pointer;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  font-size: 12px; /* smaller font size */
}

/* Media query for smaller devices */
@media screen and (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr; /* One card per row on smaller devices */
  }
}

/* paper */

.paper {
	display: block;
	margin: auto;
	overflow: visible;
	width: 100%;
	max-width: 224px;
	height: auto;
}

.paper__fill {
	fill: hsl(0,0%,100%);
}
.paper__outline,
.paper__lines {
	transition: stroke 0.3s;
}
.paper__outline {
	stroke: hsl(233,10%,10%);
}
.paper__lines {
	stroke: hsl(233,10%,70%);
}
.paper__shadow {
	fill: hsl(233,10%,70%);
	transition: fill 0.3s;
}
.paper__top,
.paper__bottom,
.paper__tear,
.paper__tear-fill {
	animation: paperTop 1.25s cubic-bezier(0.77,0,0.18,1);
}

.paper__top,
.paper__bottom {
	transform-origin: 0 148px;
	transition: transform 0.3s cubic-bezier(0.77,0,0.18,1);
}
.paper__top {
	transform: translate(0,8px);
}
.paper__bottom {
	animation-name: paperBottom;
	transform: translate(0,42px);
}
.paper__tear,
.paper__tear-fill {
	animation-timing-function: cubic-bezier(0.32,0,0.67,0);
}
.paper__tear {
	animation-name: paperTear;
	stroke-dashoffset: 0;
}
.paper__tear-fill {
	animation-name: paperTearFill;
}
.paper__outline:hover .paper__top,
.paper__outline:hover .paper__bottom {
	transform: translate(0,25px);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(233,10%,25%);
		--fg: hsl(233,10%,90%);
	}
	.paper__shadow:first-child {
		fill: hsl(233,10%,15%);
	}
}

/* Beyond mobile */
@media (min-width: 768px) {
	main {
		grid-template-columns: 1fr 2fr;
		align-items: center;
		text-align: left;
	}
	.paper {
		max-width: 300px;
	}
}

/* Animations */
@keyframes paperTop {
	from,
	40% {
		animation-timing-function: cubic-bezier(0.32,0,0.67,0);
		transform: translate(0,25px) rotate(0);
		transform-origin: 61px 148px;
	}
	70% {
		animation-timing-function: cubic-bezier(0.33,1,0.67,1.5);
		transform: translate(0,25px) rotate(-5deg);
		transform-origin: 61px 148px;
	}
	to {
		transform: translate(0,8px) rotate(0);
		transform-origin: 0 148px;
	}
}
@keyframes paperBottom {
	from,
	40% {
		animation-timing-function: cubic-bezier(0.32,0,0.67,0);
		transform: translate(0,25px) rotate(0);
		transform-origin: 61px 148px;
	}
	70% {
		animation-timing-function: cubic-bezier(0.33,1,0.67,1.5);
		transform: translate(0,25px) rotate(5deg);
		transform-origin: 61px 148px;
	}
	to {
		transform: translate(0,42px) rotate(0);
		transform-origin: 0 148px;
	}
}
@keyframes paperTear {
	from,
	40% {
		stroke-dashoffset: -198;
	}
	70%,
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes paperTearFill {
	from,
	40% {
		width: 187px;
	}
	70%,
	to {
		width: 0;
	}
}