<div class="content">
    <div class="head">
        <div>
            <i class="fa-solid fa-diagram-predecessor"></i>
            <span> Predecessors</span>
        </div>

        <div>
            <p-button class="addBtn" label="Add" [text]="true" [raised]="true" (click)="op.toggle($event)"/>
            <p-overlayPanel #op [style]="{'max-height':'300px','overflow-y':'auto'}">
                <span class="op-title">Add predecessors</span>
                
                <p-divider></p-divider>

                <div class="op-row">
                    <div class="polje">
                        <span>Task name</span>
                    </div>
                    <button class="opAddBtn">+</button>
                </div>
                
            </p-overlayPanel>
        </div>
    </div>
</div>