<div class="area" >
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="invalid_login_div" class="alert alert-warning alert-dismissible fade show" role="alert" hidden style="position: fixed; width: 100%;">
    <strong>Invalid credentials!</strong> Please enter the correct credentials and try again.
    <button id="close_warning_button" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="close_invalid_login_popup()" title="Hide"></button>
</div>
<div class="container d-flex justify-content-center align-items-center vh-100">
    <container-login style="width: 60vh;"></container-login>
</div>