<div id="pageWraper">
    <app-nav-bar></app-nav-bar>
    <div id="contentPages">

        <app-project-sidebar 
            [projectName]="projectName"></app-project-sidebar>

        <div id="content">
            <!-- <div class="container" id="projectHeader">
                <h1>{{project.name}}</h1>
                <img
                [src]="projectImageSource != null ? projectImageSource : defaultImagePath"
                alt="project-default-image">
            </div>
            <hr class="mt-2 mb-3" />
            <div class="container">
                <p>Project key: {{project.key}}</p>
            </div>
            <div class="container">
                <p>Project visibility: {{project.visibilityName}}</p>
            </div>
            <div class="container">
                <p>Project type: {{project.typeName}}</p>
            </div>
            <div class="container">
                <p id="descriptionLabel">Description: </p>
                <div id="description" [innerHTML]="safeDescription"></div>
            </div>
            <div class="container">
                <p>Owner: {{project.ownerUsername}}</p>
            </div>
            <div class="container">
                <p>Creation date: {{project.creationDate | date: 'dd/MM/yyyy'}}</p>
            </div>
            <div class="container">
                <p>Due date: {{project.dueDate | date: 'dd/MM/yyyy'}}</p>
            </div>
            <div class="container">
                <p>Bugdet: {{project.budget}}</p>
            </div> -->

            <div class="cards container header-cards">
                <div class="wrapper-box info">
                    <div class="content-box">
                        <h3>{{project.name}}</h3>
                        <img
                        [src]="projectImageSource != null ? projectImageSource : defaultImagePath"
                        alt="project-default-image">
                    </div>
                    <div class="container">
                        <span>Project key: {{project.key}}</span>
                    </div>
                    <div class="container">
                        <span>Project visibility: {{project.visibilityName}}</span>
                    </div>
                    <div class="container">
                        <span>Project type: {{project.typeName}}</span>
                    </div>
                    <div class="container">
                        <span>Owner: {{project.ownerUsername}}</span>
                    </div>
                </div>
                <div class="wrapper-box charts-box">
                    <div class="content-box">
                        <h3>Charts</h3>
                    </div>
                </div>
            </div>

            <div class="cards2 container">
                <div class="wrapper-box description-wrapper">
                    <h3>Description</h3>
                    <div id="description" [innerHTML]="safeDescription"></div>
                </div>
                <div class="wrapper-box logs-wrapper">
                    <h3>Logs</h3>
                </div>
            </div>
        </div>
    </div>
</div>