#contentPages {
    display: flex;
}

#content {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    height: 100vh;
    width: 100%;
}

.header-cards{
    margin-bottom: 1.5rem;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.wrapper-box{
    border-radius: 10px;
    padding: 1.5rem;
    border: 1px solid rgb(177, 177, 177);
    flex-grow: 1;
    width: 30%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.info{
    margin-right: 2rem;
}

.wrapper-box .content-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-box .content-box img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.charts-box{
    width: 67%;
}

.wrapper{
    display: flex;
}

.cards2{
    display: flex;
    flex-direction: row;
}

.description-wrapper{
    margin-right: 2rem;
}

.description-wrapper,
.logs-wrapper{
    width: 50%;
}

#description{
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
    overflow-y: scroll;
}