<div id="pageWraper" style="overflow: auto;">
    <div ><app-nav-bar></app-nav-bar></div>
    <div id="contentPages" >
        
        <app-project-sidebar 
        [projectName]="projectName"></app-project-sidebar>
        
        <div id="content">
            <div class="container" id="projectHeader">
                <h1>{{project.name}}</h1>
                <img *ngIf="1==1; else secondImageSource"
                src={{getDefaultImagePath()}} alt="project-default-image">
                <ng-template #secondImageSource>
                    <img src="{{getDefaultImagePath()}}" alt="project-image">
                </ng-template>
            </div>
            <hr class="mt-2 mb-3" />
            <div class="container">
                <p>Project key: </p>
                <p class="cont">{{project.key}}</p>
                <hr>
            </div>
            <div class="container">
                <p>Owner: </p>
                <div class="profilecontent cont">
                    <img draggable="false" *ngIf="1==1; else secondImageSource"
                    src={{getUserImagePath(project.ownerUsername)}} alt="user-default-image">
                    <ng-template #secondImageSource>
                        <img src="{{getUserImagePath(project.ownerUsername)}}" alt="user-image">
                    </ng-template>
                    <span style="font-weight: bold; font-size: 18px;"> {{ project.ownerUsername }}</span>
                </div>
                <hr>
            </div>
            <div class="container">
                <p>Creation date: </p>
                <p class="cont">{{project.creationDate | date: 'dd/MM/yyyy'}}</p>
                <hr>
            </div>
            <div class="container">
                <p>Due date: </p>
                <p class="cont">{{project.dueDate | date: 'dd/MM/yyyy'}}</p>
                <hr>
            </div>
            <div class="container">
                <p id="descriptionLabel">Description: </p>
                <p id="description">
                    {{project.description}} 
                </p>
                <hr>
            </div>
            <div class="container">
                <p>Project visibility: </p>
                <p class="cont">{{project.visibilityName}}</p>
                <hr>
            </div>
            <div class="container">
                <p>Project type: </p>
                <p class="cont">{{project.typeName}}</p>
                <hr>
            </div>
            
            <div class="container last">
                <p>Bugdet: </p>
                <p class="cont">{{project.budget}}</p>
                <hr>
            </div>
        </div>
        
    </div>
</div>


